[2020-08-28 19:39] Souvikns opened #1 "Logo Design"

[2020-08-28 19:39] Souvikns opened #2 "Landing Page"

[2020-08-28 19:40] Souvikns opened #3 "Team Page"

[2020-08-28 19:40] Souvikns opened #4 "Projects Page"

[2020-08-28 19:41] Souvikns opened #5 "Events Page"

[2020-08-28 19:42] Souvikns opened #6 "Hacktoberfest"

[2020-08-28 19:46] Souvikns opened #7 "Design Logo"
Create an abstract logo that speaks **Tech_Phantoms**

[2020-08-29 12:27] Souvikns opened #8 "Decide Font and color"

[2020-08-29 14:43] Souvikns opened #9 "Create Routes for all the pages"

[2020-08-29 15:54] #9 closed

[2020-08-29 19:20] Souvikns opened #12 "design mockup for Team member card"

[2020-08-29 19:25] Souvikns opened #13 "Create Template For events"
Every event in the event page will have have some common components like,
- title
- date
- venue
- duration
- about
- image

[2020-08-30 00:12] Souvikns commented on #7
![ghost (2)](https://user-images.githubusercontent.com/41781438/91648303-861ec400-ea83-11ea-909b-63a19f0b5544.png)

[2020-08-30 00:45] Souvikns commented on #3
![Team Page](https://user-images.githubusercontent.com/41781438/91648686-1101bd80-ea88-11ea-98e4-12bce60d46e7.png)

[2020-08-30 01:01] Souvikns commented on #5
![Events Page](https://user-images.githubusercontent.com/41781438/91648856-58894900-ea8a-11ea-9a3a-8aa3b0af3556.png)

[2020-08-30 15:59] imabp commented on #7
Check here: https://github.com/Ninja-Developers/Tech_Phantoms_website/tree/master/src/assets
Updated

[2020-08-30 16:14] imabp opened #14 "Hacktoberfest Route"

[2020-08-30 16:31] imabp opened #15 "Landing Page Design"
- [ ] mockup  (@mauriceyeng and @puranjay123  )
- [ ] content (@prachi-ag )
- [ ] code (@Souvikns  )

[2020-08-30 16:36] imabp opened #16 "Landing Page Content"

[2020-08-30 16:36] Souvikns commented on #15
- [ ] mockup
- [ ] content

[2020-08-30 16:38] #16 closed

[2020-08-31 00:53] Souvikns opened #18 "Create a complete data layer API with airtable"
As this is a static site and we won't be building any backend for this I think for features like **events**, **expanding community** where we need to store user data making a separate layer will save serious development time, and also keep the codebase clean.

[2020-08-31 06:49] imabp commented on #15
![image](https://user-images.githubusercontent.com/53480076/91690775-26f4a880-eb84-11ea-8f53-ed4411202e74.png)

[2020-08-31 13:51] Souvikns commented on #15
![Landing Page – 1](https://user-images.githubusercontent.com/41781438/91727278-14e42b80-ebbf-11ea-945c-c731fd9c48dd.png)

[2020-08-31 13:52] Souvikns opened #19 "Create Menu"
Create a menu button and menu options for navigation.

[2020-08-31 13:53] #7 closed

[2020-08-31 17:38] JoshuaPoddoku commented on #8
Few set of fonts I have selected

(Priority: Font Family)

Primary Font: Varela
Secondary Font: Josefin Slab
Other Font: Catamaran

![screely-1598895477949](https://user-images.githubusercontent.com/31725457/91749262-d65e6900-ebde-11ea-852b-2d15d323a7a9.png)

[2020-09-01 07:35] JoshuaPoddoku opened #21 "Join Slack channel!"
https://join.slack.com/t/newworkspace-mfx9568/shared_invite/zt-gzxqmwyt-IpYJzwP4ZstYe1slDAogfw

[2020-09-01 08:23] Souvikns commented on #14
I think rather than building a separate route for hacktoberfest we should dd it in the events page, as it will be shirt lived and we will eventually have to remove it after the event is over.

[2020-09-01 10:34] Souvikns commented on #8
This looks good we can go with this.

[2020-09-01 13:29] Souvikns commented on #18
Connected **airtable** and created a react hook to fetch core team data.

[2020-09-01 13:34] Souvikns commented on #15
If there aren't any other ideas or variations for design then I suppose we should go with this @imabp

[2020-09-01 13:38] Souvikns commented on #8
@JoshuaPoddoku have a look in issue #15 if that is fine, we can use that color.

[2020-09-01 13:41] Souvikns commented on #14
@imabp what do you say about this then I will make a data layer for events and also make a feature where only the recent event will be returned, for the main page.

[2020-09-01 13:42] Souvikns opened #22 "Create dark theme"

[2020-09-01 14:03] Souvikns opened #23 "Add redirect file"
As we are hosting our website on netlify we need to add a redirect file, otherwise our deployed application will have issues when refreshing pages and also to go to custom routes.

[2020-09-01 14:47] JoshuaPoddoku commented on #8
#15  Yes we can go for it!

[2020-09-01 15:02] JoshuaPoddoku commented on #15
We can try looking on illustrations now as the color and font are almost fixed

[2020-09-01 16:27] Souvikns commented on #15
I guess the landing section is looking good, we just need to figure our rest of the design

[2020-09-01 18:44] puranjay123 commented on #15
![TechPhantoms websitepage](https://user-images.githubusercontent.com/55429956/91893025-31f92700-ecb1-11ea-814a-909433e1f6b7.png)

[2020-09-01 18:44] puranjay123 commented on #15
@JoshuaPoddoku @vinitshahdeo @imabp @Souvikns  review???

[2020-09-01 18:54] puranjay123 commented on #15
the main photo is not final

[2020-09-01 19:52] Souvikns commented on #15
Converting this theme into mobile will be tough and also building this code to. Try to use the above design but change the ilustration and experiment withthe color.

[2020-09-01 19:56] JoshuaPoddoku commented on #15
Agreed with @souvik

On Wed, Sep 2, 2020, 1:22 AM souvik <notifications@github.com> wrote:

[2020-09-01 20:01] Souvikns commented on #15
@puranjay123 also something I would like to add. The design that you sent, has a login and signup button. As we building a portfolio site for our organization, I don't think we will ever have an authentication system. keep this in mid and search some of the portfolio sites for some idea.

[2020-09-01 20:05] puranjay123 commented on #15
ok we will add some other buttons here like homepage or search bar . i will edit this

[2020-09-01 20:07] Souvikns commented on #15
We will not create a navbar but rather use menu icon as it looks clean.

[2020-09-01 20:09] Souvikns commented on #15
The mockup that I sent, the first part will be the same design something for the rest of the page.

[2020-09-01 20:10] Souvikns opened #24 "Create Navbar with only menu button"

[2020-09-01 20:13] Souvikns commented on #15
@JoshuaPoddoku you can start work on the landing section,  guess we already have the assets in the repo, you can use that.

[2020-09-01 20:13] puranjay123 commented on #15
![a111](https://user-images.githubusercontent.com/55429956/91901160-77bbec80-ecbd-11ea-8d3b-2b3ca4f3de1c.jpeg)
i think we can add small icons like this from which we have not to create navigation bar and it looks clean also.

[2020-09-01 20:14] Souvikns commented on #15
We will have a dropdown menu where we can have these icons.

[2020-09-01 20:16] Souvikns commented on #15
## So the pages that we will have
- index page
- events page
- team page
- join our community page (probably)

[2020-09-01 20:33] puranjay123 commented on #15
@Souvikns  i think the BLOGS page should also be added or like there should be a page like resourrces which include  documentation and blogs of our community

[2020-09-01 21:58] imabp opened #26 "Selecting Project for nomination at "The Readme Project""
@Souvikns , @JoshuaPoddoku and @imabp thought to put Kladi as nomination in The Readme Project
https://github.com/readme/nominate

[2020-09-01 22:02] imabp commented on #12
For Team page designed I liked this one here
https://githubsatellite.com/speakers/

[2020-09-02 05:22] JoshuaPoddoku opened #28 "Follow and custom tweet option using twitter API"
Example
Check the bottom of the page: https://anubhav-madhav-blogs.herokuapp.com/introduction-to-programming-languages

[2020-09-02 05:24] JoshuaPoddoku opened #29 "Share on LinkedIn option"
We can ask users to share customized content regarding techphantoms, events, etc.

[2020-09-02 06:27] imabp commented on #19
@Souvikns Build is failing

[2020-09-02 09:10] imabp commented on #28
Code for Integration of twitter follow button.
`<a href="https://twitter.com/tech_phantoms?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @tech_phantoms</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>`

[2020-09-02 14:32] #24 closed

[2020-09-02 14:35] Souvikns opened #30 "Create Landing section"
Check the design from the connected epic.

[2020-09-02 18:08] imabp opened #31 "MEETING TECH PHANTOMS OFFICIAL 101 *(7PM on 3 Sep 2020)*"
We will be introducing our mentor and core members  and interact with the community members clear the doubts and all.
Publicly display our GitHub Organisation too. @vinitshahdeo @JoshuaPoddoku  @prachi-ag @Souvikns  @AnubhavMadhav @garimasingh128 @SavageShift @puranjay123 @mauriceyeng @pixan198

[2020-09-02 21:45] imabp opened #32 "BUG: Routing in production results in 404"
## Reproduce Bug.

1. Go to: https://condescending-swartz-83b809.netlify.app/
2. Click on hamburger menu
3. Click on any following route.
4. 404 Page

![Bug](https://user-images.githubusercontent.com/53480076/92039835-62b18d00-ed93-11ea-8025-101bdb167740.gif)

[2020-09-02 21:47] Souvikns commented on #32
For this only I created the issue #23. By adding a `_redirect` file it can be fixed

[2020-09-03 07:02] #21 closed

[2020-09-03 07:02] #32 closed

[2020-09-03 07:41] imabp commented on #23
Issue Solved hosted at : https://techphantoms.netlify.app/

[2020-09-03 07:43] imabp commented on #14
Yeas @Souvikns , we must close this hacktober fest route issue. As it is not needed, we will be hosting it from our events page only.

[2020-09-03 07:58] imabp commented on #8
As Joshua said, we will be using these fonts then.
@Souvikns  @JoshuaPoddoku

Primary Font: Varela
Secondary Font: Josefin Slab
Other Font: Catamaran

And color scheme #15 issue we can refer.

[2020-09-03 08:03] imabp commented on #13
@Souvikns  I am making an event  component in `component/event.js` with props as

1. title
2. date
3. venue
4. duration
5. about
6. image

So that you can call this with props while using airtable. Is it fine?
@Souvikns Shall I go with this approach

[2020-09-03 08:16] Souvikns commented on #13
will these be the values that you will be required, then I will create a airtable table and a react hook to fetch these data

[2020-09-03 08:26] imabp commented on #13
These values is in reference to the first comment you mentioned.

[2020-09-03 09:07] Souvikns commented on #13
do you need anything else or this these fields are fine

[2020-09-03 09:36] imabp commented on #13
@Souvikns
In order to make events unique, final proposed
**Serial Number**
Date

[2020-09-03 14:56] hkaur008 commented on #30
i can contribute to frontend designing .

[2020-09-03 15:53] imabp commented on #31
![image](https://user-images.githubusercontent.com/53480076/92138088-92ac6f00-ee2b-11ea-9f98-611b44aa09d1.png)
Success Event

[2020-09-03 15:53] #31 closed

[2020-09-03 15:55] Souvikns commented on #30
@hkaur008 happy to see you interested in contributing. we are still coming up with the design though the landing section is pretty much fixed for the design check #15 the design that I have commented. You can find the assets inside repo itself. As we are using [react](https://reactjs.org/) and [chakra ui](https://chakra-ui.com/) to develop this web page. I would suggest you do the same. You use us

[2020-09-03 15:55] imabp commented on #30
If any doubts feel free to ask @imabp  @Souvikns  @ joshua

[2020-09-03 16:47] #23 closed

[2020-09-03 19:41] #14 closed

[2020-09-03 19:41] Souvikns commented on #18
I am creating hooks for events

[2020-09-03 19:48] #19 closed

[2020-09-03 22:08] imabp opened #35 "Change Favicon, Meta Data of Index.html"
### Task 1
Find the favicon at: `src/assets/logo.svg`
Find `index.html` here at `public/index.html`

### Task 2
Update meta data from
`<meta
      name="description"
      content="Web site created using create-react-app"
    />`
to
`<meta
      name="Tech Phantoms"
      content="An Open Tech Community "
    />`

[2020-09-04 05:41] puranjay123 commented on #12
@imabp  it looks great

[2020-09-04 15:46] Souvikns opened #37 "Create holder compnent for events"
As the data layer part is complete, all we have to do is create a holder component that will receive data as props and render a single event card.

[2020-09-04 15:51] #6 closed

[2020-09-04 19:06] Souvikns opened #38 "Create Footer Component"

[2020-09-04 19:16] #1 closed

[2020-09-04 21:24] #38 closed

[2020-09-04 22:10] pixan198 commented on #12
Which one would be better for our website's team section?
@imabp  @Souvikns @puranjay123 @JoshuaPoddoku
Mockup 1
![TEAM 1](https://user-images.githubusercontent.com/56932286/92288038-2ca61180-ef29-11ea-8d9c-c75fff06ea67.png)
---
Mockup 2
![TEAM 2](https://user-images.githubusercontent.com/56932286/92288041-2f086b80-ef29-11ea-93b5-db33602dbfb3.png)

[2020-09-04 22:18] puranjay123 commented on #12
1st one looks good with all members at one place with no divisons.

[2020-09-04 23:51] Souvikns commented on #12
I also designed something like this
![Team Page](https://user-images.githubusercontent.com/41781438/92291726-91686880-ef37-11ea-844f-0372d12b82be.png)

[2020-09-05 05:12] imabp commented on #30
@hkaur008 Can you let us know the progress.

[2020-09-05 08:31] hnishal commented on #35
I would like o work on it

[2020-09-05 10:08] imabp commented on #35
@hnishal Great go ahead !

[2020-09-05 15:10] #30 closed

[2020-09-06 02:43] hkaur008 commented on #5
i can contribute to this

[2020-09-06 07:41] imabp commented on #37
@Souvikns @JoshuaPoddoku  Please review
Here is proposal for an event card props I am preparing
1. **Event Serial Number** (required)
3. **Event Image Link** (required, default image: https://drive.google.com/file/d/13UqDB73ie5a-2LhF4RpepZdWa4QhPWTz/view)
2. **Event Title** (required)
3. **Event Description** (required)
4. **Event Date** (required)
5. **Event Register Link** (required, can use  a

[2020-09-06 09:01] Souvikns commented on #5
@hkaur008 this is only for discussion, #37 was the issue for creating holder components, I think @imabp is doing that. we will open new issues soon, also you can create an issue if you found any bug.

[2020-09-06 09:01] pixan198 commented on #12
@Souvikns if nobody is working, can I start working on it?

[2020-09-06 09:14] imabp commented on #12
@pixan198 I found @Souvikns design clean and beautiful. Design the card component for Team Member as above using Chakra UI .

[2020-09-06 09:19] pixan198 commented on #12
@imabp Okay

[2020-09-06 11:21] imabp commented on #37
Event holder Created @Souvikns

[2020-09-06 11:21] #37 closed

[2020-09-06 11:23] imabp commented on #35
@hnishal let me know, if you are facing any issue

[2020-09-06 12:45] Souvikns commented on #12
@pixan198 tell me if you need the code assets.

[2020-09-06 14:48] hnishal commented on #35
@imabp i made changes in the meta tag in index.html, is that all that was to be done?

[2020-09-06 16:06] imabp commented on #35
@hnishal

1. Update your fork with the original Repository. [Refer Here](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/syncing-a-fork)
2. Create Pull request.
3. I will merge the changes

[2020-09-06 16:20] Souvikns opened #42 "Links in react drawer is reloading the page"
Currently, the links in the drawer are not using react-router-dom links and thus it is reloading the pages, I guess this issue could be solved by just adding **react-router-dom** links component.

[2020-09-06 16:24] imabp commented on #42
Are we going to use history too ?

[2020-09-06 16:25] hnishal commented on #35
@imabp how do i change the favicon

[2020-09-06 16:32] imabp commented on #35
@hnishal
Navigate to `public/index.html`
Add the following code
`<link rel="icon" type="image/svg" href="../src/assets/logo.svg">`

[2020-09-06 17:07] Souvikns commented on #42
First, try importing Link from `react-router-dom`, It should fix this, but if it does not then use history and create button.

[2020-09-06 17:14] imabp commented on #42
Successfully Implemented `react-router-dom`
Build Success

[2020-09-06 17:14] #42 closed

[2020-09-06 18:02] pixan198 commented on #12
Yeah @Souvikns , can you please upload it in the assets folder

[2020-09-07 04:53] Souvikns commented on #12
@pixan198 I have added the assets in the repo itself, under src/assets/team

[2020-09-07 14:01] imabp commented on #5
@hkaur008 I have completed the component for event holder with props, mentioned in
[`src/components/EventHolder/index.jsx`](https://github.com/Ninja-Developers/Tech_Phantoms_website/blob/master/src/components/EventHolder/index.jsx)

[2020-09-07 14:01] Souvikns commented on #18
I have created the whole events API, now data is being sorted according to the dates and also the function is returning a sorted array of all dates that are present.

[2020-09-07 16:41] imabp opened #47 "Use AirTable to store Images"

[2020-09-07 18:24] JoshuaPoddoku opened #48 "Fixing footer and its icons"
I guess uniform icons would be better either material UI or just filled ones with color. We can try and see.

[2020-09-07 21:51] Souvikns commented on #35
@imabp has this issue bin fixed.

[2020-09-07 21:53] Souvikns commented on #13
About visualizing all the data for the event organizers would be done in airtable itself.

[2020-09-07 21:53] #47 closed

[2020-09-07 21:54] Souvikns commented on #15
Call out for landing page content, and the rest of the landing page design.

[2020-09-08 05:55] imabp commented on #35
Great @hnishal Merged !

[2020-09-08 05:55] #35 closed

[2020-09-08 17:19] imabp commented on #15
@Souvikns @JoshuaPoddoku @garimasingh128 @AnubhavMadhav @pixan198

Landing Page has been completed with sample content and also optimized for mobile view.

Content Writers @prachi-ag @SavageShift  please help us with content

[2020-09-08 17:19] #15 closed

[2020-09-08 17:31] souvik commented on #15
Hi,
From few days I am getting these emails. But I really don’t know how I became a part of this group. I think you guys are mistakenly added me in this group.

Sent from Yahoo Mail for iPhone

On Tuesday, September 8, 2020, 10:49 PM, Abir <notifications@github.com> wrote:

Closed #15.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubsc

[2020-09-08 18:53] imabp commented on #15
@souvik  we are sorry, but I think there was mistakenly put up your github username tag, as we have a person named souvik. thats why. Apologies. 🙌

[2020-09-09 02:32] Souvikns opened #49 "Connect event holder component to data layer"

[2020-09-09 05:39] Souvikns commented on #49
@imabp I need some details

  eventImg: Event Image Link (required, default image: https://drive.google.com/file/d/13UqDB73ie5a-2LhF4RpepZdWa4QhPWTz/view)
  eventTitle: Event Title (required)
  eventDesc: Event Description (required)
  eventDate: Event Date (required)
  eventReg: Event Register Link (required, can use a default table airtable for this see below 👇)
  eventRec: Event Recording Link

[2020-09-09 06:58] imabp commented on #49
@Souvikns done

[2020-09-09 06:58] imabp commented on #48
@JoshuaPoddoku go ahead!

[2020-09-09 09:41] imabp commented on #49
@Souvikns
Follow this code for extracting date and time separately from ISO.

## Approach 1 (Manual)

**Step 1:**
Convert ISO Date to string (if data received already in  string skip to step 2)
[code]
**Step 2:**
Split the `str_date` with separator as T.

[code]

## Approach 2 (MomentJS)

Refer [here](https://momentjs.com/)

[2020-09-09 09:56] Souvikns commented on #49
I am receiving the time and date in string format, and the holder is also taking date and time in string format, then I think date & time conversion logic should also be in Holder component itself.

[2020-09-09 12:17] imabp commented on #49
@Souvikns Logic built in event holder and successfully tested on client

[2020-09-09 12:22] Souvikns commented on #49
Then I guess just passing in the appropriate props will fix it

[2020-09-09 12:28] Souvikns commented on #49
I changed the folder structure that's why it is conflicting.
The code you had written in `index.js`. I shifted that code inside `holder.jsx` and created `events.jsx` for creating lists of events.

and in `index.js` i just created appropriate exports
[code]

[2020-09-09 12:28] imabp commented on #49
Proper Props:
![image](https://user-images.githubusercontent.com/53480076/92598135-07692880-f2c6-11ea-9864-80549a132dc0.png)

Example Holder
![image](https://user-images.githubusercontent.com/53480076/92598070-e99bc380-f2c5-11ea-99ee-4fd20787dfa9.png)

[2020-09-09 12:48] imabp commented on #48
@JoshuaPoddoku What is the update for it
?

[2020-09-09 17:58] #49 closed

[2020-09-10 12:09] Souvikns opened #53 "Missmatch with production and master branch"
## Problem
Currently, the code in the master branch is working just fine without any errors. Still in the [dev branch](techphantoms.netlify.app/), the code is I guess commits behind.

## Expected behavior
![Screenshot 2020-09-10 at 5.23.14 PM.png](https://images.zenhubusercontent.com/5e5c04ddd0668b3a2093f19f/12631045-2e0e-440e-8d3e-af79cba95f5c)

If we take a look in the `src/pages/event` componen

[2020-09-10 15:35] Souvikns opened #54 "Side menu not closing after page jump"
## Problem
Currently, the side menubar is not closing after the page has been successfully changed.

## Possible fix
I think the opening and closing state of the menu is not changing after the link is clicked as it is a `link`. This could be fixed by converting the links to buttons and changing the state with every button click.

[2020-09-10 15:42] imabp commented on #53
I am working on this issue.
It is related to build fail issues. Will push the changes within few minutes

[2020-09-11 05:16] Souvikns commented on #53
Well now that is fixed, our codebase has no errors or warnings. Let's aim in keeping it that way. @imabp from now we should merge pr if and only if all the checks have passed.

[2020-09-11 05:16] #53 closed

[2020-09-11 05:30] Souvikns opened #57 "Connect Teams page with data layer"
As the team member holder component is built. Now I guess we should start connecting it with **airtable**.

[2020-09-11 05:33] #12 closed

[2020-09-11 10:37] #54 closed

[2020-09-11 13:59] Souvikns opened #58 "Design events page."
### The Events holder and the data have been connected. Design the events page.

[2020-09-12 20:50] Souvikns commented on #57
![Screenshot 2020-09-13 at 2 13 42 AM](https://user-images.githubusercontent.com/41781438/93004691-ef640400-f566-11ea-84de-5c4d329e78ad.png)

## Problem
As we can see from the above screenshot, not every member Github profile.

## Solution
This problem can be solved in two ways
- add Github account for the members that are missing.
- instead of GitHub, we can display either medium or Instagram pro

[2020-09-13 12:19] #57 closed

[2020-09-13 14:03] imabp commented on #57
Also added conditional filter for those having github or not, it will show  that links only, which is there live.

[2020-09-13 14:09] #26 closed

[2020-09-13 14:09] #28 closed

[2020-09-13 14:09] #29 closed

[2020-09-13 14:10] Souvikns commented on #18
Events and team data layer have been created

[2020-09-13 14:10] #18 closed

[2020-09-13 14:10] #13 closed

[2020-09-13 15:01] imabp opened #61 "Content For Landing Page and others"
We need content for the landing page.

[2020-09-17 14:23] Souvikns opened #64 "Upcoming event section in index page"
## Feature Proposal
Having an upcoming event section on the landing page and a way to update it would really add aesthetic to the website. Also if will draw the attention of anyone visiting our website.

### Potential Solution
As for the data part, the hook that provides us with all the event data could be used as it returns `events` in ascending order of the dates. We could just use the first `ev

[2020-09-18 10:37] Souvikns commented on #22
#65

[2020-09-18 10:37] #22 closed

[2020-09-18 12:32] SingingApple opened #66 "Hamburger icon in dark mode"
Hamburger icon in dark mode blends with the background. Icon color can be changed to white.

[2020-09-23 13:06] Souvikns opened #67 "Event Page not loading"

[2020-09-23 13:16] Souvikns commented on #67
This was happening because there were no null safety checkor imageurl param in `events.jsx` component.
I have added null safety checks and this issue has been resolved

[2020-09-23 13:16] #67 closed

[2020-09-23 13:27] Souvikns opened #68 "Change in the design of the events component."
# Current View
![image.png](https://images.zenhubusercontent.com/5e5c04ddd0668b3a2093f19f/c03a6863-b7f6-49ca-91b0-c7b3e99e188d)

---

## Changes
- [x] Firstly we should go with a better formating for time and date
- [x] We will be removing the **RSVP** functionality because most events will have a event link so I think we should just keep a event link instead.
- [x] Title of the event should have

[2020-09-23 13:29] Souvikns commented on #68
## I thing we should create a card that is like kinda small and has even sides
![image](https://user-images.githubusercontent.com/41781438/94018967-d82adf00-fdce-11ea-84aa-ed1ebd72db63.png)

[2020-09-24 14:21] Souvikns commented on #68
Working on formatting date and time

[2020-09-24 18:04] Souvikns commented on #68
Most of the work is done, I have also created the proposed format of the **event page**. Now we just have to design a bit and it will be done.

[2020-09-25 06:07] imabp commented on #66
Assigned. Go Ahead ✌ @SingingApple

[2020-09-25 06:34] imabp opened #70 "Alignment of Brandname in Dark Mode"
![Scroll](https://user-images.githubusercontent.com/53480076/94234376-2fdc5e00-ff27-11ea-80c4-ee5388a8ab89.gif)

[2020-09-25 06:40] imabp commented on #70
I think this is the problem with dark mode svg spacing
https://github.com/ninja-developers/Tech_Phantoms_website/blob/master/src/assets/DarkMode_techphantoms.svg

[2020-09-25 06:43] Tomekmularczyk commented on #70
@imabp can I take it?

[2020-09-25 06:52] imabp commented on #70
It was minor issue @Tomekmularczyk , and has been resolved now. You can take a look on other issues like #39

[2020-09-25 06:55] #70 closed

[2020-09-25 06:55] adnansalik commented on #48
Hey, can I work on this issue?

[2020-09-25 07:01] imabp opened #72 "Custom Scroll bar for the website"
### Current Design of scrollbar is default one.

## Requirement:
To have a custom scrollbar design which suits the background and plus makes website look more aesthetic

![image](https://user-images.githubusercontent.com/53480076/94236152-5e0f6d00-ff2a-11ea-84cd-52b4bcc576b2.png)

[2020-09-25 07:02] imabp commented on #68
@Souvikns I am removing the assignees as new comers might be interested.

[2020-09-25 07:31] Souvikns commented on #68
No, I am working on this issue. There are other projects as well try to create issues there.

[2020-09-25 07:36] sejalshri commented on #72
@imabp , i would like to work on this issue as a part of Hacktoberfest. Please assign it to me.

[2020-09-25 07:59] KushalBhanot commented on #72
Hey! I would like to work on this issue.

[2020-09-25 08:39] nidhishs commented on #72
@imabp Hey, I have worked quite a bit on designing websites and also have some skills with graphic designing. I'm also in the process of designing my [website](https://nidhishs.github.io). This should give a vague idea about my designing skills.

[2020-09-25 08:48] devblin commented on #72
Hey, I would like to work on this issue.

[2020-09-25 09:35] imabp commented on #72
That's Overwhelming. ✌
@KushalBhanot @devblin @nidhishs  @sejalshri

We respect all of your contributions. But can have only one get merged. I also recommend you to see the issue #48 , if you are good with CSS as it is also a part of hacktoberfest.

*Based on Guidelines of Hacktoberfest*

1. **Go Ahead with your individual designs for scroll bar in your fork  and send us a PR.** 👩‍💻
2. After sendi

[2020-09-25 09:43] Souvikns commented on #68
# Check the new design.

![image](https://user-images.githubusercontent.com/41781438/94252528-ad14cc80-ff41-11ea-9041-b143557d7859.png)

[2020-09-25 09:44] imabp commented on #48
Go Ahead @adnansalik .
We will be keeping this assigned to you for next  three days.

[2020-09-25 10:03] imabp commented on #72
We are assigning this to all of you. And the best design will be selected.

[2020-09-25 10:04] imabp commented on #72
@JoshuaPoddoku review this Issue

[2020-09-25 10:17] imabp commented on #68
Great Merging

[2020-09-25 10:46] Souvikns commented on #68
If this is fixed I think we should close this.

[2020-09-25 10:49] #68 closed

[2020-09-25 10:49] #58 closed

[2020-09-25 14:12] Souvikns opened #75 "Pojects Page"

[2020-09-25 14:14] Souvikns opened #76 "Social media feeds"

[2020-09-25 14:27] DaniAcu opened #77 "Modify switch button for a pin switch"
Hi, I would like to help to improve the switch button

Now
![image](https://user-images.githubusercontent.com/26409015/94278935-cf96ed80-ff21-11ea-8a39-0aab67b08bc4.png)

Next
![sample](https://i.pinimg.com/originals/c6/5b/13/c65b13f534170fc05373b0bc907bd38a.gif)

[2020-09-25 15:07] Souvikns opened #78 "Create API for Projects page"

[2020-09-25 15:18] ahmad-reza619 opened #79 "Heading not aligned"
I'm opening the page on chrome desktop. and the `swith theme` button not aligned with side bar
![Screen Shot 2020-09-25 at 22 16 35](https://user-images.githubusercontent.com/52902060/94284585-c8e99400-ff7c-11ea-9be1-108ce485013b.png)

also, when switching theme, side bar is not visible, because it's black, i think that's not good for readability

![Screen Shot 2020-09-25 at 22 18 32](https://user

[2020-09-25 16:30] Souvikns opened #81 "Create Projects Page"
## TODO
- [ ] Add new page in the pages folder
- [ ] Create Route `/projects`
- [ ] Serve Projects page in the new route

[2020-09-25 16:32] Souvikns commented on #77
wow, @DaniAcu the first one looks awesome.

[2020-09-25 16:34] Souvikns commented on #79
@ahmad-reza619 we have a nav component I think putting this button in that component will fix the alignment, for now, it might break the code as the button state is not global.

[2020-09-25 16:34] vyasriday commented on #81
Hey would like to take this one @Souvikns

[2020-09-25 16:57] CodeSarthak commented on #66
@SingingApple  - good catch.  Are you still working on this? Let me know if you need any help :D

[2020-09-25 17:14] DaniAcu commented on #77
Yeah, that it's the idea. If you could assign it to me, it will be awesome.

[2020-09-25 17:17] Souvikns commented on #81
sure @vyasriday but this will not be an hacktoberfest issue as it has a deadline of  **1st Oct**

[2020-09-25 17:19] vyasriday commented on #81
Cool! no problem with that.

[2020-09-25 18:49] imabp commented on #79
@ahmad-reza619 I would like to look at the issue
#66  for Hamburger menu
And regarding the switch button
#77 you can refer.

After all above mentioned issues gets merged.
Then we can think of alignment.

Make sure, you Pull request to `development` branch and core members will review the PR before merging it to `master branch`

[2020-09-25 19:17] Souvikns opened #82 "Design Project cards"

[2020-09-25 19:22] SingingApple commented on #66
@CodeSarthak Yes, I'm working on it. Sure, I'll let you know if I'll require some help!

[2020-09-26 07:57] Souvikns commented on #81
@vyasriday can you give an update on this.

[2020-09-26 07:58] vyasriday commented on #81
Will make a PR by EOD.

[2020-09-26 08:13] imabp commented on #72
How is it going. Do give a star to repo. If you are liking it ! ✌✌

[2020-09-26 08:25] JoshuaPoddoku commented on #48
Suggested for icons: https://remixicon.com

[2020-09-26 08:41] vyasriday commented on #81
@Souvikns addde pr

[2020-09-26 08:42] vyasriday commented on #81
@Souvikns It would be really great to label issues accordingly. If it's not part of the hacktoberfest please don't advertise it as such then. Someone like me who is looking for contributing will contribute anyway. But having issues that are clear really helps. :)

[2020-09-26 08:58] #81 closed

[2020-09-26 09:05] Souvikns opened #87 "Render all the available projects from the github API"

[2020-09-26 09:05] #82 closed

[2020-09-26 09:05] #78 closed

[2020-09-26 09:32] imabp commented on #5
@hkaur008 you can still look on other issues .

[2020-09-26 09:39] imabp commented on #81
@vyasriday
It would be really great, if you have read the guidelines of Hacktoberfest.

**Contributions from 1st October to 30th October will be taken into account of Hacktoberfest.**

So I hope this clears your doubt, before blaming any one the core members.

Thankyou : )

[2020-09-26 09:42] Souvikns commented on #81
@vyasriday I am extremely sorry for this, I added it by mistake.

[2020-09-26 10:54] #87 closed

[2020-09-26 13:29] adnansalik commented on #48
So whenever I try typing npm start I get an errors in localhost asking for an API key to connect to Airtable. I'm really new to this so I am a bit confused, so can anyone help me out?
I did npm install before running and npm is globally installed
I have a picture below attached
![Screenshot from 2020-09-26 18-58-17](https://user-images.githubusercontent.com/46531078/94341844-664ed180-002a-11eb-95b

[2020-09-26 15:15] Souvikns opened #89 "Add Projects route in sidebar"
Currently, the sidebar is missing the **project** route

![Screenshot 2020-09-26 at 8.41.22 PM.png](https://images.zenhubusercontent.com/5e5c04ddd0668b3a2093f19f/fe0a1ed3-969f-4507-9e49-ceb62153e55c)

Adding the appropriate object over [here](https://github.com/Ninja-Developers/Tech_Phantoms_website/blob/ff19d4785da53402f4c227748892404396553af9/src/components/navbar/drawer.jsx#L26) shall fix this.

[2020-09-26 15:23] imabp commented on #48
@adnansalik
Apologies for that. We have now fixed it, Please read this fix [here](https://github.com/Ninja-Developers/Tech_Phantoms_website/blob/master/README.md#api-key-installation)

[2020-09-26 18:10] adnansalik commented on #48
Is this fine or should I add something else?
![Screenshot from 2020-09-26 23-38-27](https://user-images.githubusercontent.com/46531078/94347412-8e056000-0051-11eb-906b-aba000937003.png)

[2020-09-26 18:14] imabp commented on #48
@adnansalik can you show the Mobile View

[2020-09-26 18:23] adnansalik commented on #48
Here you go
![Screenshot from 2020-09-26 23-52-13-cropped](https://user-images.githubusercontent.com/46531078/94347624-70d19100-0053-11eb-85c6-9d9cdeacff2a.jpg)

[2020-09-26 18:26] imabp commented on #48
For Mobile view, can you put those icons in vertical alignment

[2020-09-26 18:29] imabp commented on #48
Make sure u send the PR to development branch .

[2020-09-26 18:29] adnansalik commented on #48
Yeahh okay

[2020-09-26 19:16] Souvikns opened #91 "Create chakra-ui theme file."
### use [this](https://chakra-ui.com/theme) for reference

[2020-09-27 04:27] RaisinTen opened #93 "Remote link fix"
In the [set it up section of the contributing documentation](https://github.com/Ninja-Developers/Tech_Phantoms_website/blob/master/CONTRIBUTING.md#3-set-it-up), it is mentioned that this is how we are supposed to add the `upstream`:
[code]
I think it would be more accurate if we append `.git` to the link or else it doesn't really work. May I change it to the following?
[code]
:slightly_smiling_fac

[2020-09-27 04:40] RaisinTen opened #94 "Comment fix"
In the [sync it section of the contributing documentation](https://github.com/Ninja-Developers/Tech_Phantoms_website/blob/master/CONTRIBUTING.md#4-sync-it), I think the comment associated with the code snippet can be fixed a bit with this:
[code]
The change is based on a mix of [this](https://git-scm.com/docs/git-fetch#_description) and [this](https://git-scm.com/docs/git-fetch#Documentation/git-f

[2020-09-27 06:51] adnansalik commented on #48
In mobile view I successfully aligned the icons vertically by changing the values of columns to 1 in SimpleGrid but I don't know where to add this rule as I in CSS media query I don't think it's possible change values of an element.
![Screenshot from 2020-09-27 12-17-01](https://user-images.githubusercontent.com/46531078/94358072-e7a27480-00bb-11eb-8a88-2aebf9d646a6.png)

[2020-09-27 07:17] imabp commented on #48
@adnansalik you can take help of the line number 21 [here](https://github.com/Ninja-Developers/Tech_Phantoms_website/blob/9fa0b68d2a765c9168a94b0a6b5dc036573149d5/src/components/sections/landing_top.js#L21) for your reference

[2020-09-27 07:19] imabp commented on #48
After you send PR gets merged to development branch, you can see it here: (This is instant view of development after merging)
https://devtechphantoms.netlify.app/

And when core members clean the code and merge it to master, you can see it here (This is periodic) :
https://techphantoms.netlify.app

[2020-09-27 07:24] imabp commented on #72
@devblin @KushalBhanot @nidhishs @sejalshri  are  you working on it ? What is the status

[2020-09-27 07:25] imabp commented on #94
This is critical docs fault go ahead.

[2020-09-27 07:31] imabp commented on #93
Thanks a lot for this issue.
As it is documentation related issue, you can send PR directly to master.

[2020-09-27 07:34] nidhishs commented on #72
I haven't started yet. Will try to start today.

[2020-09-27 07:40] imabp commented on #72
Just  a info, make sure, you send PR to development branch.

[2020-09-27 07:41] imabp opened #95 "Information: Development branch is hosted at : https://devtechphantoms.netlify.app/"

[2020-09-27 10:39] #4 closed

[2020-09-27 13:58] #94 closed

[2020-09-27 13:58] #93 closed

[2020-09-27 17:12] #89 closed

[2020-09-27 21:54] JoshuaPoddoku commented on #72
Try to use minimalistic  and use same theme colors for the scroll bar.
https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar

On Sun, Sep 27, 2020, 1:10 PM Abir <notifications@github.com> wrote:

[2020-09-27 22:00] nidhishs commented on #72
I'm sure you know, but just so that we are on the same page, that solution doesn't work on Firefox. I was considering adding a <div> and using on scroll events to make a custom scrollbar. Not exactly sure how good that'll work. But if you are fine with incompatibility on Firefox, ::-webkit-scrollbar should be relatively quick to implement.

[2020-09-27 22:03] JoshuaPoddoku commented on #72
Yes, most of the devs prefer firefox developer edition. So let's go with
scroll event.

On Mon, Sep 28, 2020, 3:30 AM Nidhish <notifications@github.com> wrote:

[2020-09-28 02:45] ahmad-reza619 commented on #79
Oh i'm sorry, i didn't notice there's issue about this already

[2020-09-28 02:45] ahmad-reza619 commented on #79
should i close the issue?

[2020-09-28 05:27] #77 closed

[2020-09-28 12:59] rishipurwar1 opened #105 "remove whitespace from the hero background"
**Describe the bug**
There is too much white space below and above the hero background.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the homepage of the website
2. See error

**Expected behavior**
There should be a less padding

**Screenshots**
![Shot 0006](https://user-images.githubusercontent.com/57035408/94435231-7bf20180-01b8-11eb-8d02-5588c288ef76.png)
![Shot 0007](https://user

[2020-09-28 13:00] rishipurwar1 commented on #105
I would like to work on this issue

[2020-09-28 13:51] imabp commented on #105
@rishipurwar1
Thanks for pointing this out. You can work on this issue.
We are using Chakra UI.
You can fix this by changing this line [here](https://github.com/Ninja-Developers/Tech_Phantoms_website/blob/c316215cccc1579d8159874f8ed82bfe9c73625f/src/components/sections/landing_top.js#L24)
by replacing it with this line below  👇 :

` mt={{ md: "5%", xs: "5px", sm: "100px", lg: "5%" }}`

[2020-09-28 17:34] Priyanshu-official commented on #61
@prachi-ag
 can you explain What type of content you need for the landing page.

[2020-09-29 05:48] rishipurwar1 commented on #105
Thanks for assigning me this issue...

[2020-09-29 06:33] imabp commented on #61
@Priyanshu-official you can see the current content of **development site** [here](https://devtechphantoms.netlify.app/)
If you have any ideas to improve the content or add something new to the landing page.
Go ahead with it. ✌

Send a PR to development branch

[2020-09-29 06:34] imabp opened #106 "Update: 🥳We are on Instagram @tech_phantoms"
https://instagram.com/tech_phantoms

[2020-09-29 06:35] imabp commented on #105
@rishipurwar1 Send PR to development branch.

[2020-09-29 07:33] rishipurwar1 commented on #105
Ok! I'll do that...

[2020-09-29 19:04] Souvikns opened #107 "Design 404 page"
Till now, we don't have a  Error 404 Page yet.
So this is call for UI designers to prepare a  creative design based on current theme for 404  page

PS: This is hacktoberfest labelled. Will be merged on or after 1st October

[2020-09-30 07:34] imabp commented on #105
Are you working on it @rishipurwar1

[2020-09-30 07:37] imabp commented on #79
@ahmad-reza619 we are planning to implement dark mode in V3 Website, once the V2 (this one) is ready .
We will be creating a different workflow branch for dark mode.

So this issue, will be considered then.

We are planning to do dark mode in this October itself.

[2020-09-30 07:39] imabp opened #108 "Add Be a Mentor registration route"
**We don't have route for member and mentor registrations**
As the community is growing, people would love to join us as member or as mentor, but are not able to find the link for registration. So implementing a custom form for mentor and member registrations.

**Describe the solution you'd like**
A route which renders Member registration side

**Additional context**
UI need to be designed.

[2020-09-30 08:02] imabp opened #109 "Code the Registration Page UI"
We are planning to launch registration page for our community. Henceforth it would be amazing, to see the code in Action

**We are using Chakra UI**

Steps:
1. Create a branch at your fork, `feat-username-regpage`
2. Comment with Screenshot to this issue
3. Send PR to `development branch`

![image](https://user-images.githubusercontent.com/53480076/94658740-d4dca980-0320-11eb-8a65-bac486e03ff8.png

[2020-09-30 08:02] imabp commented on #109
This issue is in reference to #108

[2020-09-30 08:20] rishipurwar1 commented on #105
I am working on it. Today, I'll make a pr

[2020-09-30 08:23] imabp commented on #72
Go Ahead with div tag and using scroll events for custom scrollbar

[2020-09-30 08:30] nidhishs commented on #72
I have a test today at my uni. Will try to start that soon.

[2020-09-30 08:51] rishipurwar1 commented on #105
Please add hackoctober label to this issue.

[2020-09-30 09:18] greyGroot commented on #109
@imabp hi, i'm interested in solving this issue. Just want to clear something. What should happen, what user clicks on "Join us" button?

[2020-09-30 09:21] imabp commented on #105
PRs with Hacktoberfest Label will be merged on or after 1st October.

@Souvikns @rishipurwar1

[2020-09-30 09:22] imabp commented on #105
Assigned to @rishipurwar1

[2020-09-30 09:46] rarchitgupta commented on #109
I'd like to try this. Just to be clear, I'm supposed to recreate the page as shown above using React and Chakra UI?

[2020-09-30 10:05] rishipurwar1 commented on #105
Is it look good now?
![2020-09-30 15_33_56-Greenshot](https://user-images.githubusercontent.com/57035408/94672191-89cb9200-0332-11eb-92db-f3324cf11e31.png)

[2020-09-30 11:20] imabp commented on #105
@rishipurwar1 can you show the mobile view too ?

[2020-09-30 11:22] imabp commented on #109
Yes @rarchitgupta you have to create this using React and Chakra UI
You can create a directory for this `src/components/forms`

Just need to make the UI and rest functionality we will add it on later

[2020-09-30 11:30] rishipurwar1 commented on #105
Mobile View Screenshot
![localhost_3000_(iPhone X)](https://user-images.githubusercontent.com/57035408/94679871-71fa0b00-033e-11eb-9500-5dfe7f9482a6.png)

[2020-09-30 12:40] imabp commented on #105
Great Send PR to development branch
@rishipurwar1

[2020-09-30 12:40] imabp commented on #105
We will merge it on or after 1st October

[2020-09-30 12:56] rarchitgupta commented on #109
![1601470127477_regpage__01](https://user-images.githubusercontent.com/52240360/94687212-93142900-0349-11eb-8920-40e316a34c5c.png)

This is what I've done so far. On reducing page-width to mobile, this layout can no longer be used and probably has to be changed to a layout where one form is below the other. I would love to fix that if someone could give me a few hints on how to account for page wi

[2020-09-30 13:21] zygisS22 commented on #107
Hi there, can i give it a try?

[2020-09-30 13:23] imabp commented on #109
Nice work @rarchitgupta
I reviewed the code
There were some mistakes like, fontSize was hardcoded, so I have fixed the hardcode

Now I am performing some alignment test of buttons to check edge cases.

As this is hacktoberfest issue, we will merge it on or after 1st October

[2020-09-30 13:25] rarchitgupta commented on #109
@imabp great! Thank you :)

[2020-09-30 13:32] imabp commented on #109
@rarchitgupta you can use ChakraUIs flex module  [here](https://chakra-ui.com/flex) to make things mobile responsive.
Need not worry, we will be implementing it at our end.

Just for your info we are coming with new issues for more pages, so you can implement there too..

[2020-09-30 14:13] TheCoderNikhil commented on #107
I can do

[2020-09-30 14:41] rarchitgupta commented on #109
Yes I'll check them out for sure

[2020-09-30 14:48] imabp opened #113 "Airtable Error"
**Airtable Error Cannot fetch data**
Not able to fetch Team and Event data from airtable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://devtechphantoms.netlify.app/events.'
2. See error

**Expected behavior**
Events and Team Members should show up

**Screenshots**
![image](https://user-images.githubusercontent.com/53480076/94701067-d70f2a00-0359-11eb-8e8e-67388f7dbd26.png)

[2020-09-30 14:51] #109 closed

[2020-09-30 15:09] Souvikns commented on #113
# I checked, and it was working
![Screenshot 2020-09-30 at 8 38 33 PM](https://user-images.githubusercontent.com/41781438/94703915-fa87a400-035c-11eb-9433-6f7f058d972e.png)

[2020-09-30 15:11] Souvikns commented on #113
@imabp check once, if it is a problem of the internet.

[2020-09-30 15:26] imabp commented on #113
@Souvikns check here where development branch is hosted in this url

https://devtechphantoms.netlify.app

[2020-09-30 15:44] Souvikns commented on #113
Have you set the env variables correctly

[2020-09-30 15:45] Souvikns commented on #113
Also check if someone has changed anything, as the master branch is working on previous commits, then the issue must have arrived in newer commits.

[2020-09-30 15:48] Souvikns commented on #113
So I was checking the codebase of the development branch and found this
https://github.com/Ninja-Developers/Tech_Phantoms_website/blob/d11bd0f0c0b1f1c6c13ceaaa0dddc0c9b4cb11f8/src/data/airtable/event.js#L3

[2020-09-30 16:20] imabp commented on #113
It should not create any problem as it there running on master and master is working fine.

https://github.com/Ninja-Developers/Tech_Phantoms_website/blob/b23cb4d7c9a9d9b5691dd2b07f96cc546a264e93/src/data/airtable/event.js#L3

[2020-09-30 16:52] imabp opened #114 "We need documentation for Project Structure"
Project Directory will help beginners to understand the code.
Project Structure must be saved in root location with name `projectStructure.md`
This structure must describe each and every folders or file and their role in the project.

[2020-09-30 16:54] imabp commented on #114
It is now assigned to @ktavleen , but if anyone also interested can also contribute and send the `PR` to `master` branch for this.

[2020-09-30 17:00] Harshchourasiya opened #115 "Overflow in projects section in smaller devices"
**Describe the bug**
In the project section in smaller device you can see the overflow of project out from the screen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to project section
2. Go to inspect
3. Click on smaller Device toolbar
4. You can see the bug

**Expected behavior**
Project section without overflow

**Screenshots**

![IssusSecond](https://user-images.githubusercontent.com/

[2020-09-30 17:28] Souvikns commented on #113
check the env then.

[2020-09-30 18:29] ampsteric commented on #107
I would love to work on this issue. please assign it to me.

[2020-09-30 18:44] imabp commented on #115
Thankyou for pointing this one out @Harshchourasiya .
Go Ahead. Assigned to @Harshchourasiya

@Harshchourasiya Make sure you send PR to `development` branch

@Souvikns review this.

[2020-09-30 19:47] TomerPacific commented on #114
@imabp , I'd like to help. Is there an example of what the file should look like?

[2020-09-30 20:12] jay-deep commented on #109
Can I work on this?

[2020-09-30 20:42] SingingApple commented on #66
@imabp since the dark theme has been removed from the site, shall I close this issue?

[2020-09-30 20:52] imabp commented on #114
@TomerPacific happy to see that.

@ktavleen @TomerPacific you both can divide the work as project structure is vast. Assigning this to you both.

This is bit lengthy task and also requires proper project folders understanding.  All the best both of you.  @TomerPacific @ktavleen

For example, this is current structure
![image](https://user-images.githubusercontent.com/53480076/94736624-28cfa880-038

[2020-09-30 21:00] imabp commented on #66
@SingingApple we have made a branch `dark-mode` and we are thinking to put it in community v3 release

So you can work on the issue. As we want to complete dark mode in October itself.

Just there is a note, that you need to send PR to `dark-mode` branch regarding dark mode implementation.

[2020-09-30 21:02] imabp commented on #107
@TheCoderNikhil @ampsteric  you both can start working on it. Best design will be merged.

Make sure you send PR to `development` branch

[2020-09-30 21:11] TomerPacific commented on #114
@imabp , I have opened a PR not because I am finished with the task, but to show you what I am intending to do with it and to ask if this is what you were expecting for it. Please give me feedback if this is what you were looking for (or not).

[2020-09-30 21:17] imabp commented on #114
Fine @TomerPacific We have merged it to development branch. You can start working on it. As this would help other assignee to get started.

[2020-09-30 21:20] imabp commented on #114
@TomerPacific I have changed the directory of the projectStructure to root . Do update your fork.

[2020-09-30 21:37] imabp commented on #113
@rarchitgupta  please do not upgrade any package versions.

Development now working successfully.

[2020-09-30 21:38] imabp commented on #113
It is fixed now. Closing the issue

[2020-09-30 21:38] #113 closed

[2020-09-30 21:40] imabp opened #121 "Urgent: Typo fix"
The task of the contributor will be to find the file and change the spelling below.

For this issue, you can send PR to `master` branch.

![image](https://user-images.githubusercontent.com/53480076/94742580-8caa9f00-0393-11eb-87e5-be713e05f4b6.png)

[2020-09-30 21:49] rootaux commented on #121
Please check the PR.

[2020-09-30 21:50] #121 closed

[2020-10-01 02:52] nitrogenous commented on #107
I would love to work on this issue and create PR asap

[2020-10-01 04:59] sandy9808 commented on #107
I am also working on it..

[2020-10-01 05:00] imabp commented on #107
Go Ahead
@sandy9808
@ampsteric
@TheCoderNikhil

Assigning you three.
Best design will be considered.

Send PR to `development` branch

[2020-10-01 05:25] nitrogenous commented on #107
I also would love to work on this @imabp

[2020-10-01 05:51] AbhinavReddy-Dev opened #124 "UI improvements (CSS) for Home page"
**Is your feature request related to a problem? Please describe.**

It does feel uncomfortable when items are not aligned properly, when they don't follow a pattern and have too many alignment lines. This causes trouble for the viewer as it requires to constantly reset the point of focus.

**Describe the solution you'd like or working on**

#### I have made changes
1. To the Hamburger icon padding

[2020-10-01 07:07] Devansu-Yadav opened #126 "Typos in Development Website page"
**Describe the bug**
A clear and concise description of what the bug is.
I noticed a few typos in the Development website's Landing Page
**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['Development website'](https://devtechphantoms.netlify.app/)
2. Scroll down to 'Vision Section'
3. See typo on line 6, word 6
4. Scroll down to 'Bottom of Landing Page'
5. See typo on line 10, word 4

**

[2020-10-01 07:08] Devansu-Yadav commented on #126
@imabp I have solved this issue can I make a PR?

[2020-10-01 07:13] lancaster215 opened #127 "Responsiveness Issue"
**Describe the bug**
@768px width (iPad view), the page is cut on /projects page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
<img width="278" alt="Untitled" src="https://user-images.githubusercontent.com/29894579/9477

[2020-10-01 07:34] Devansu-Yadav commented on #127
@imabp Can I work on this?

[2020-10-01 07:58] ampsteric commented on #107
The 404 Error Page has been added.
I have created a new Component(ErrorPage) in the Components folder.
please review and accept the PR.

#107 has been resolved.

its my kind request to @imabp that please accept the PR as soon as possible so that it can be counted for the Hacktoberfest as well.

best regards,
ampsteric

[2020-10-01 08:22] Harshchourasiya commented on #127
Hey, I Already work on this issue and make a pull request #155

[2020-10-01 08:29] imabp opened #131 "Revamp Projects Page"
Current the event page looks like this on `development branch`

We need some revamp in redesigns and some beautiful content too, to make project page look aesthetic

![image](https://user-images.githubusercontent.com/53480076/94786087-23a44500-03ee-11eb-9e06-c8117b6fdb2a.png)

[2020-10-01 08:30] imabp commented on #127
Responsive issue is solved.

But @lancaster215 @Devansu-Yadav we have this issue coming up related to this : #131
You can check that out

[2020-10-01 08:30] #127 closed

[2020-10-01 08:31] Harshchourasiya opened #132 "Project section look more cool when box come in more center"
**Is your feature request related to a problem? Please describe.**
This is not a bug or a problem but I think Project section look more cool when box come in more center

**Describe the solution you'd like**
make Project section box in center

**Is this a good idea**
comment this idea is good or not

**This is now look like this**

![idea](https://user-images.githubusercontent.com/48551992/9478635

[2020-10-01 08:31] imabp commented on #132
I have raised the issue #131 regarding this.
Closing this issue

[2020-10-01 08:31] #132 closed

[2020-10-01 08:32] Harshchourasiya commented on #131
Can I Work on this

[2020-10-01 08:40] imabp commented on #131
Go Ahead

[2020-10-01 08:59] #115 closed

[2020-10-01 10:41] Harshchourasiya commented on #131
Hey, **Look** is this correct or I should do more

**Project Section Before**

![before](https://user-images.githubusercontent.com/48551992/94798971-0f694380-0400-11eb-9a18-e941734e6737.PNG)

![IssusSecond](https://user-images.githubusercontent.com/48551992/94799033-24de6d80-0400-11eb-936c-acf0c0190593.PNG)

**Project Section Now**

![nowProjectDesktop](https://user-images.githubusercontent.com/48

[2020-10-01 10:58] Harshchourasiya commented on #108
Hey, I like to work on this idea but Which Type of backend we use here and what we want to take from a member and mentor and where we want to store the data

[2020-10-01 11:05] Coderu2058 commented on #105
want to contribute

[2020-10-01 11:17] rishipurwar1 commented on #105
@Coderu2058 This issue is already solved.

[2020-10-01 11:40] Bhuvan804 commented on #107
Can i work on it?

[2020-10-01 11:45] Bhuvan804 commented on #124
I can add a custom scroll bar.
Changes will apply to all the pages.

[2020-10-01 11:47] Bhuvan804 opened #135 "Adding a custom scroll bar to Tech Phantom Website"
Adding custom scroll bar to Tech Phantom Website

[2020-10-01 11:48] Bhuvan804 commented on #135
I can add a custom scroll bar

[2020-10-01 14:38] adithyaakrishna commented on #91
Hey, I would like to work on this @Souvikns

[2020-10-01 15:15] heet-vakharia commented on #107
Can I Do it?

[2020-10-01 15:45] Souvikns commented on #91
@adithyaakrishna go ahead, I am assigning you this issue.

[2020-10-01 15:47] Souvikns commented on #91
@imabp can you brief all the theme constants, like color and typography that we are using.

[2020-10-01 16:19] TomerPacific commented on #114
@imabp , I did not want you to merge my PR, but to give me feedback so I could understand if what I did was what you wanted. I'll continue my work on another feature branch.

[2020-10-01 17:30] TomerPacific commented on #114
@imabp , I have created another PR, but in draft status, so you can comment on the progress so far and if any changes are necessary.

[2020-10-01 17:34] imabp commented on #114
Great you are going right.
Loved the documentation

[2020-10-01 18:46] sandy9808 commented on #107
Please Do review my PR. https://github.com/Ninja-Developers/Tech_Phantoms_website/pull/142

[2020-10-01 22:40] adithyaakrishna commented on #91
Thank you, Idk much about the Chakra UI but i would love to learn and do this if its okay :)

[2020-10-02 00:53] Rihanat commented on #131
Can I still design this

[2020-10-02 00:55] Rihanat commented on #107
I can do this, can I go ahead?

[2020-10-02 01:12] Harshchourasiya commented on #131
Hey, I am Working on This

[2020-10-02 05:14] OmShrivastava19 commented on #107
Hello, i would love to work on this..

[2020-10-02 05:47] imabp commented on #131
@Harshchourasiya send PR to development branch

[2020-10-02 06:14] imabp commented on #126
This has already been fixed  now by previous issue .

[2020-10-02 06:14] #126 closed

[2020-10-02 06:29] imabp commented on #135
Refer Issue #72

[2020-10-02 06:29] #135 closed

[2020-10-02 06:30] imabp commented on #131
I think, you need to check the spelling of **Contribute** in heading
@Harshchourasiya

[2020-10-02 06:31] imabp commented on #131
@Rihanat we recommend to see for other issues, or create a new issue if you have any ideas for website

[2020-10-02 06:33] imabp commented on #124
@Bhuvan804 refer issue #72

[2020-10-02 06:33] imabp commented on #124
Thankyou @AbhinavReddy-Dev  for this amazing contribution

[2020-10-02 06:33] #124 closed

[2020-10-02 06:40] imabp commented on #108
We are planning to work on this issue in this weekend.

[2020-10-02 07:03] imabp commented on #107
Issue has been solved
Merged PR #142 to development.
Thankyou @sandy9808 for contributing to Tech Phantoms.

@OmShrivastava19 @Rihanat @Bhuvan804 @ampsteric  please look into other issues, or if you have any feature in your mind, to be implemented for our website. you can create new issues

[2020-10-02 07:03] #107 closed

[2020-10-02 07:31] ampsteric commented on #107
atleast Look at the page that I had made.
it was totally dynamic and not only static.

![404page](https://user-images.githubusercontent.com/56419358/94897515-72fd7a80-04ad-11eb-87cf-69991c07666a.PNG)

[2020-10-02 07:38] imabp commented on #107
@ampsteric we have reviewed it.
Suggestions:
You have to research a bit more about how react router error 404 works
Design is not matching with the theme.
As mentioned in the Readme, we are using Chakra UI . But you have implemented your own custom CSS which overrides the theme file of Chakra UI.

There are the reasons why we cannot merge your PR.

[2020-10-02 07:41] imabp commented on #107
Moreover, we assigned three of you the issue on the same date and same time.
@sandy9808 @ampsteric @TheCoderNikhil

But only @sandy9808 came up with fully functional error page, matching the theme, including react router.
So it was clear that we have merged his PR.

[2020-10-02 10:07] syshcndr commented on #61
Hey @imabp !
I read the existing Content and saw the impact of the Tech Phantoms Members.
And I felt like content in the homepage is focusing on toward becoming the community rather than representing yourself as a community.
I would like to Modify the Existing content to Make it Focus toward "Representing as a Community."

[2020-10-02 10:12] imabp commented on #61
@syshcndr- -

I am glad that you took a time for this. We are happy to have you here.

To contribute for landing page content follow these guidelines.

1. Create a branch from `development` named as `username-content-landing-page`

2. Send PR to development branch
3. We will review the content.
4. PR will be merged to development branch.
5. Periodically,  we will update master branch  with develop

[2020-10-02 13:04] imabp opened #150 "Create a React Higer Order Component for page loader"
Sometimes, fetching data from airtable, takes time, so I come up with a idea, to have a page loader animation as Higer Order Component which will help user to see the fully rendered content.

[2020-10-02 13:05] imabp commented on #150
I am working on this issue, on a branch name `imabp-feat/loader`

[2020-10-02 13:13] imabp commented on #131
Merged #147 into `development`
Closing this issue.

[2020-10-02 13:15] Souvikns commented on #150
I guess rather than creating a higher-order component just add the loader animation in `app.js` and control the state using redux or kladi.

[2020-10-02 16:46] #131 closed

[2020-10-02 16:47] #114 closed

[2020-10-02 16:58] Harshchourasiya opened #155 "Event alert feature for event section (Feature Request)"
**Is your feature request related to a problem? Please describe.**

This feature is not related to any problem.

**Describe the solution you'd like**

In this feature we will ask our visitors for their email addresses so whenever an event will be updated they will get an automated email alert.

**benefit of this feature**

**Would, you like to work on**

Yes, I love to work on this feature with th

[2020-10-02 18:52] imabp opened #158 "Revamp Event Page"
[code]

## Currently the events page look plain and is breaking at mobile view.

## Screenshots
![image](https://user-images.githubusercontent.com/53480076/94957983-62302180-050c-11eb-9044-1c3fb435d16a.png)

## What to Do ?
### We need to revamp the events page, without breaking any backend logic.

[2020-10-02 18:53] imabp commented on #155
Great feature.
I was thinking about it.
But before that would you like to see the issue #158

[2020-10-02 19:02] imabp opened #159 "Discussion / Contributors Page"
[code]

# 🎉 Thankyou and Keep Contributing 🎉

## A small vote of thanks from Tech Phantoms ❤
We are planning to have a contributors  page, featuring all the contributors and maintainers who are making this website V2 and V3 successful.

We will be using GitHub Open API to achieve this.

# You can tell your views on it.

[2020-10-02 19:03] PrathamDogra opened #160 "Events route is breaking"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to the top right hamburger and then click on the Events
2. On clicking it is giving the following error

**Expected behavior**
It should open the Events page.

**Screenshots**
![Untitled](https://user-images.githubusercontent.com/43649218/94959974-b8eb2a80-050f-11eb-96c2-c80090588808.png)

[2020-10-02 19:06] PrathamDogra commented on #160
I would like to go through this issue.

[2020-10-02 19:06] imabp commented on #160
@PrathamDogra
We have rechecked the deploys
Everything is fine.
Can you check the changes if you have made any using `git status`

[2020-10-02 19:08] imabp commented on #160
@PrathamDogra if you are new contributor please go through Readme once, we have instructions to setup Airtable servers locally using dummy api keys

[2020-10-02 19:12] PrathamDogra commented on #160
I am running the project in the local server and I haven't made any changes.

[2020-10-02 19:21] PrathamDogra commented on #158
I would like to go through this issue.

[2020-10-02 19:33] imabp commented on #160
@PrathamDogra
Please check you have installed dummy Api keys in dotenv file.

We have documented it in our readme [here](https://github.com/Ninja-Developers/Tech_Phantoms_website#-api-key-installation-dummy)

[2020-10-02 19:37] imabp commented on #158
Great Go ahead.
If you need any help do comment in the thread

[2020-10-02 19:39] PrathamDogra commented on #160
Yes, @imabp I have added the API keys in the .env file. Here is the issue which I am facing in the local
![tech](https://user-images.githubusercontent.com/43649218/94962971-0027ea00-0515-11eb-9cf3-d931b2a0ddf3.gif)

[2020-10-02 20:11] PrathamDogra commented on #160
It is happening due to the date field in the uniqueDates (inside events.jsx ) file. Sometimes the date field is not there inside the fields object hence this error is occurring. This could be resolved if we use some check before rendering the dates of events that if the event date field is there show the date else not.

[2020-10-02 20:35] sandy9808 commented on #158
I will also try it..

[2020-10-02 21:43] imabp commented on #160
@PrathamDogra

Actually the problem is with the response the Airtable is sending, because we need to update few fields because of few  critical commits were based on airtable which have only accounted to non-exposed apis., but not for dummy apis.

I will resolve the airtable server issue by tomorrow.

[2020-10-02 21:43] #160 closed

[2020-10-02 21:45] imabp commented on #160
Closing this for now, because it is something, not open sourced.
We are not exposing the actual APIs
And based on the current scenario...

Issues referring Event Page are on hold now, till we update the dummy apis

[2020-10-02 21:48] imabp commented on #158
@sandy9808 @prachi-ag

## I am putting this issue for now on HOLD
## Reason:
We are updating the dummy APIs . so event page is not receiving the correct format of response.

[code]

[2020-10-02 21:51] imabp commented on #158
By tomorrow we will resolve the backend dummy apis field configs. So for now, please you can contribute to other issues, or create other issues. or features or bug.

Thankyou .
### Sorry for the inconvenience

[2020-10-03 06:20] sandy9808 commented on #72
Can I try this ?

[2020-10-03 11:53] imabp commented on #158
@PrathamDogra @sandy9808

I have updated the dummy keys in `master` and as well as in `development` branches.

Happy Contributing.
@PrathamDogra  the issue of slice not defined will be resolved now as airtable is sending correct response

Please see the updated dummy api keys [here](https://github.com/Ninja-Developers/Tech_Phantoms_website#-api-key-installation-dummy):

[2020-10-03 12:07] imabp commented on #160
@PrathamDogra now things are working
I have updated the Dummy API keys [here](https://github.com/Ninja-Developers/Tech_Phantoms_website#-api-key-installation-dummy)

[2020-10-03 12:27] sandy9808 commented on #72
I don't know why but my custom scrollbar is not working in the mobile, but it works fine on desktop.

[2020-10-03 12:59] imabp commented on #72
@nidhishs would you like to work on this issue ?
If no , I would definitely go with other person on  hold @sandy9808

[2020-10-03 13:02] nidhishs commented on #72
I was going through the code base, and I believe you have used React. I was trying to learn React since a couple days, however I don't think I would be able to contribute meaningfully to the project. Sorry for the inconvenience.

[2020-10-03 13:20] imabp commented on #72
That's fine @nidhishs . After you get clear with basics of React you can contribute to the other projects and issues too.
We love open source.

And our main aim is that only to help the contributors to learn and push themselves up.

[2020-10-03 13:20] imabp commented on #72
Issue is assigned to @sandy9808

Go ahead @sandy9808 , if you need any help reply in thread. itself

[2020-10-03 13:22] sandy9808 commented on #72
I am adding the css of custom scrollbar but i am not able to view the changes on mobile, it is visible only on desktop.

[2020-10-03 13:27] imabp commented on #72
@sandy9808 Its fine, if not visible in mobile. Scrollbar in lesser screen size mobile, will break the aesthetic looks in mobile.

We want for desktop only.

[2020-10-03 13:54] imabp commented on #72
@sandy9808 when u send PR, make sure its sent to `development`

[2020-10-03 14:01] sandy9808 commented on #72
is this good ?
https://15a2681c-fb42-4e39-aa32-159886e2e269-5000.apps.codespaces.githubusercontent.com/

[2020-10-03 14:03] imabp commented on #72
send PR, we will see on netlify deploy previews

[2020-10-03 14:52] #105 closed

[2020-10-03 15:01] #2 closed

[2020-10-03 15:01] #3 closed

[2020-10-03 15:01] #5 closed

[2020-10-03 15:01] #8 closed

[2020-10-03 15:01] #48 closed

[2020-10-03 15:01] #64 closed

[2020-10-03 15:10] #106 closed

[2020-10-03 15:11] #76 closed

[2020-10-03 15:13] #75 closed

[2020-10-03 15:13] #95 closed

[2020-10-03 15:16] #159 closed

[2020-10-03 16:04] Souvikns commented on #91
@adithyaakrishna We are migrating from chakra UI to material UI so I am closing this issue.

[2020-10-03 16:04] #91 closed

[2020-10-03 16:06] imabp opened #164 "📌We are migrating to Material UI"
#  📌We will be  migrating to Material UI
Slowly slowly every component will be converted to Material UI ones.

Anyone who would like to take part in this process, please comment down on this issue.

I think we should break this process as much as possible, due to the sheer number of components currently present.

## TODO
- #### Landing Page
- [x] Appbar
- [x] Drawer - @Souvikns
- [x] Footer - @sen

[2020-10-03 16:08] Samridhi-98 commented on #164
I would like to contribute in this.

[2020-10-03 16:11] adithyaakrishna commented on #164
@imabp I would like to contribute to this :)
I've experience in MUI too, if that counts 🚀

[2020-10-03 16:12] adithyaakrishna commented on #91
Okay @Souvikns , I would contribute to that only :)

[2020-10-03 16:17] senshiii commented on #164
I would like to contribute.

[2020-10-03 16:42] Souvikns commented on #164
I am working on the drawer component

[2020-10-03 16:44] senshiii commented on #164
@Souvikns Can you assign me the Footer?

[2020-10-03 17:09] imabp commented on #164
@adithyaakrishna @Samridhi-98 we have updated the isssue description, you can take a look and choose one of them. So that all contributors can evenly participate.

Make sure, you send PR to `development` branch.
Also do read, Readme, in order to setup dummy Airtable API environments

[2020-10-03 17:52] Souvikns commented on #164
## Drawer design
Will convert to dark automatically when converting to dark theme.
![image](https://user-images.githubusercontent.com/41781438/94998408-345fe100-05cf-11eb-95b5-fc005d431fcc.png)

[2020-10-03 17:55] imabp commented on #164
@Souvikns can we use `background-color: tomato` for the drawer. And font color set to white.

[2020-10-03 18:52] imabp commented on #164
Great work @Souvikns . Drawer is migrated to materia ui

[2020-10-03 19:35] Souvikns commented on #164
I am also taking the project card.

[2020-10-03 19:40] sandy9808 commented on #164
@Souvikns is on 🔥

[2020-10-03 19:51] senshiii commented on #164
Raised a PR for the footer. Here is a quick comparison of the existing Footer (Top) and the Migrated One. The PR contains only the Migrated Version. Previous version files are removed.

![Mobile View](https://user-images.githubusercontent.com/67961536/95000600-f3bc9380-05df-11eb-9b88-aea922bb06b7.png)
![Desktop View](https://user-images.githubusercontent.com/67961536/95000601-f5865700-05df-11eb-85

[2020-10-03 19:54] imabp commented on #164
@senshiii which theme are you using for chrome ?
Looks amazing.

[2020-10-03 19:57] senshiii commented on #164
@imabp I am using this theme [When the Night Falls](https://chrome.google.com/webstore/detail/when-the-night-falls-100/lpmmeefjafijboofpccfngkpckkjpadm?hl=en)

[2020-10-03 20:11] sandy9808 commented on #164
@imabp I will take care of the 404 page because that also depends on chakra ui, i will convert it to material ui..

[2020-10-04 05:26] Souvikns commented on #164
Let me fix the project layout that might fix this the holder issue.

[2020-10-04 06:32] imabp commented on #164
@Samridhi-98 @adithyaakrishna you can convert any of the followings
- #### Team Page
- [ ] Team Profile Card
- [ ] Team Page layout
- #### Event Page
- [ ] Event card
- [ ] Event Layout

[2020-10-04 06:37] Souvikns commented on #164
Today till 4 pm if no one claims the Events page then I will start with it.

[2020-10-04 13:02] Harshchourasiya commented on #108
Hey, Do you need help in this issue

[2020-10-04 13:03] Harshchourasiya commented on #108
Hey, Do you need help in this issue.

[2020-10-04 21:05] imabp commented on #164
Working on landing Page

[2020-10-04 22:43] larbikhounti commented on #164
**I'm interested**

[2020-10-05 04:24] AbhinavReddy-Dev opened #172 "More gentle cards in home page"
**Is your feature request related to a problem? Please describe.**
This is not a problem in code but it is for the visitor's eyes, and feel of the website.

**Describe the solution you'd like**
Current cards design that we have is similar to examples on w3Schools website, what we need is something that looks closer to bootstrap or materialUI that have shadows and color hierarchy.

**Additional con

[2020-10-05 06:02] imabp commented on #164
@larbikhounti on which page, you are interested ? Please comment

[2020-10-05 07:32] imabp commented on #172
Actually I am working on rest content for landing page.
The card looks bit common, if you want you can modify it. Give some aesthetic look
I am building up rest content for landing page.
Go Ahead @AbhinavReddy-Dev

[2020-10-05 07:57] AbhinavReddy-Dev commented on #172
Awesome, what fonts are we using for headings?

[2020-10-05 09:14] #72 closed

[2020-10-05 10:19] larbikhounti commented on #164
Team Profile Card

[2020-10-05 12:24] imabp commented on #164
Please read project read me @larbikhounti

[2020-10-06 01:37] rebekris commented on #172
hi everyone! can I participate?

[2020-10-06 03:46] AbhinavReddy-Dev commented on #172
@imabp I'll try to make a PR today and also I have raised an issue on clad, could you please check it?

[2020-10-06 07:13] sandy9808 commented on #164
Can I take the **Team profile card**, it seems tough to me to do so, but I will try.

[2020-10-06 07:14] imabp commented on #164
Go Ahead @sandy9808 . One must try new things.

[2020-10-06 16:20] AbhinavReddy-Dev commented on #172
@imabp are you working on alignment and sizing assets for home page? I see there is an absent uniform sizing for the technologies images (section above footer).

[2020-10-06 17:08] imabp commented on #172
yaa actually i am working on that.. i just pushed it. so that .. we dont loose community engagement. It will take bit time... Thanks bro.. for this..

[2020-10-06 18:15] AbhinavReddy-Dev commented on #172
Cool bro, I am working on the cards, Material UI feels more like Styled components with extra work but saves us from the burden of making it responsive.

[2020-10-07 07:08] imabp commented on #172
Go Ahead I have already assigned you this 😊 @AbhinavReddy-Dev

[2020-10-08 07:37] sandy9808 commented on #164
@iambp the svg icons for social handles used should be replaced by material ui icons or not ?

[2020-10-08 07:43] imabp commented on #164
@sandy9808  Material UI Icons.
But we should have to use the color property.
Like for linkedin, it should be of blue color types.

Also, are you using Paper for making the team card picture part, if not, I suggest Paper from Material UI.
Point to note is that, we are fetching data from airtable, so that should not break ?😊

[2020-10-08 07:46] sandy9808 commented on #164
ok i will use material ui icons then. And now that you have updated me i will use Paper component for the image. 👍

[2020-10-09 17:17] ashuvssut commented on #158
can i get this assigned to me?

[2020-10-09 17:26] imabp commented on #158
Sure Go Ahead @ashuvssut
We are actually migrating to Material UI , it would be great, if you redesign the things using Material UI only.

Make sure, you properly read the Readme and project guidelines before contributing. :)

[2020-10-09 18:01] ashuvssut commented on #158
Sir I know decent HTML CSS JS (ES6) ...you can view my project made in pure HTML CSS JS [here](blessnbliss.org).

I just want to say that i am learning react. thats why i want to contribute here. sure i will learn material ui too. and thats why my PR would take some time. hope you understand why i will be submitting taking a quite some time...

[2020-10-09 18:20] imabp commented on #158
@Souvikns What you say ?

[2020-10-09 19:16] sandy9808 commented on #164
What will be the size of the profile image, will it be same for all ?

[2020-10-09 21:07] imabp commented on #164
yes @sanday

[2020-10-10 00:47] sandy9808 commented on #164
And the size will be?

[2020-10-19 05:14] Souvikns opened #184 "Changing File Structure"
We are adopting a new file-structure for our codebase. We are gonna migrate old components to the new file-structure.

## TODO
### Pages
- [x] Home - @imabp
- [x] Event - @Souvikns
- [x] Team - @imabp
- [x] Project - @Souvikns

[2020-10-19 09:20] Souvikns commented on #184
I guess all is done.

[2020-10-19 09:57] Souvikns commented on #184
I guess this issue is fixed

[2020-10-19 10:18] imabp commented on #184
I am still fixing the navbar stuff, will send PR then

[2020-10-19 10:19] imabp commented on #184
and some proptypes for navbar also there thats why

[2020-10-19 12:17] #184 closed

[2020-10-19 13:21] Souvikns opened #196 "Create Theme object for material-ui"

[2020-10-19 16:18] #196 closed

[2020-10-20 04:11] imabp opened #201 "Sprint"
We will be working on the following parts @Souvikns
- [ ] Making Theme consistent
- [ ] Complete Port to Material UI
     - [ ]  Our Story
- [ ] Adding Slack Integration
- [ ] Making Events Page better
- [ ] Replacing Slideshow with better Idea

[2020-10-20 13:11] puranjay123 opened #202 "Design of "What you will learn in this" page !"
Design should be minimalistic and it should be attractive .

[2020-10-20 13:52] #201 closed

[2020-10-20 13:58] Souvikns opened #203 "Redesign story page"

[2020-10-20 14:09] Souvikns opened #204 "Let users add themselves to our slack channel"
As we have a slack channel it would be nice to add a section allowing users to join our slack channel.

[2020-10-20 15:57] imabp commented on #203
## WIP

![image](https://user-images.githubusercontent.com/53480076/96612074-f70f8900-131a-11eb-98d0-482abe52cc3b.png)

[2020-10-20 18:19] Souvikns opened #206 "Slack integration"
Add a link so that users can join our slack channel.

[2020-10-20 18:55] puranjay123 commented on #202
okay i am working on it

[2020-10-21 11:16] puranjay123 commented on #202
![WEBSITE PAGGGGE](https://user-images.githubusercontent.com/55429956/96712263-799c5500-13bc-11eb-9783-44c26db101b0.png)
2nd:
![WEBSITE PAGGGGE2](https://user-images.githubusercontent.com/55429956/96712514-e57ebd80-13bc-11eb-9145-8c9e571dbd36.png)

[2020-10-21 11:16] puranjay123 commented on #202
@imabp @Souvikns please review

[2020-10-21 17:14] Souvikns commented on #203
If this has been done close this.

[2020-10-22 09:04] imabp commented on #203
Fixed

[2020-10-22 09:04] #203 closed

[2020-10-22 10:28] puranjay123 opened #217 "Edits in Home page"
I have suggested some edits on the homepage from which it looks more interactive.
![Edits tech phatom](https://user-images.githubusercontent.com/55429956/96859593-4d95d800-147f-11eb-9f77-13cbffc90b77.png)

[2020-10-22 10:29] puranjay123 commented on #217
@imabp @Souvikns some suggested edits for the homepage

[2020-10-25 17:01] SingingApple opened #220 "update Readme"
**Describe the bug**
Since the website is now using Material-UI so readme file needs to be updated.

[2020-10-25 21:51] #66 closed

[2020-10-26 06:31] #220 closed

[2020-11-01 07:30] #206 closed

[2020-11-03 16:03] vinitshahdeo opened #224 "Remove Hacktoberfest related info"
@imabp As Hacktoberfest is over now, please remove Hacktoberfest related info from `README.md`

[2020-11-03 16:09] imabp commented on #224
Done : )
Thank you brother.

[2020-11-03 16:09] #224 closed

[2020-11-09 18:25] Souvikns opened #225 "Integrate API and remove airtable."
## TODO
- [ ] Remove airtable logic
- [x] fetch data from the API
- [ ] Update the hooks with new data format.

[2020-12-15 15:08] aniketsingh98571 opened #237 "Microsoft Student Partners text should be linked."
**Is your feature request related to a problem? Please describe.**
On the home page of your website, the Microsoft student partner text can be linked with the website of MLSA.

**Describe the solution you'd like**
By linking these, the newbies who do not know what "Microsoft Student Partner is?" will get to know about the program and he/she can register in it.

**Describe alternatives you've consi

[2020-12-18 17:42] yashsehgal commented on #237
Hey @aniketsingh98571, I am interested in this issue. Could you suggest to me how may I start with this one?

[2020-12-18 17:52] aniketsingh98571 commented on #237
This issue is specifically for the project maintainers to look at, if they allow then only we can work on it.

[2020-12-18 17:54] aniketsingh98571 commented on #237
@Souvikns  @imabp

[2020-12-18 22:27] Souvikns commented on #237
refer #238

[2020-12-22 10:59] Souvikns opened #239 "New design for events page"
## Current Design
![Screenshot 2020-12-22 at 4 21 35 PM](https://user-images.githubusercontent.com/41781438/102880741-d0ccad80-4471-11eb-886f-50cea5a44333.png)

![Screenshot 2020-12-22 at 4 21 42 PM](https://user-images.githubusercontent.com/41781438/102880739-cf9b8080-4471-11eb-9005-63b304ffaa58.png)

---

We need to redesign this page keeping the overall theme same as the other pages. I think we

[2020-12-23 10:57] shivangi00 commented on #61
Hey! I saw your website and read the content. In my opinion, there is a scope of adding a more professional and to the point flare to the website content. I have been into writing content since more than 2 years and I can help you with that, if required.

[2020-12-23 11:23] shivangi00 opened #240 "Enhancement of Home Page"
**Is your feature request related to a problem? Please describe.**
The home page of any website is the major attracting force of the organisation as well as the website. I have some ideas for enhancing the same and making it more responsive and updated with today's trend.

1. Having a responsive navigation bar.
2. The sections look very distraught currently.
3. Footer needs to be positioned and re

[2020-12-23 11:50] Souvikns commented on #240
@shivangi00 welcome to our repo, good to have you here.
Yeah, the designs could be made better. We wanted to update the designs, but I was unable to come up with some good ideas, If we gonna do it, I think we should start with making mockups and all. If you would like to manage this issue I can give you outside collaborators rights that way you can merge and manage issues on your own.

And for the

[2020-12-24 12:14] shivangi00 commented on #240
@Souvikns Thank you! Yes I would definitely like to manage this issue. I agree we can start with building a mockup first that would make things clearer.
For the design too I think mockup will be a decent start to know which of the options we can go with.

[2020-12-25 18:45] shivangi00 commented on #240
This is one of the design themes I came up with. Since the logo reminded me of pacman game. Let me know how you find this or whatever suggestions you have in mind. Also we can connect on figma to make design sharing easier.
My figma profile link - https://www.figma.com/@shivangi00
![image](https://user-images.githubusercontent.com/67910955/103140632-d98ddf80-470e-11eb-9c68-bb1f3e14ad76.png)

[2020-12-26 08:13] Souvikns commented on #240
This is kinda cool, so should we have this as a banner, for the website, like the first thing that loads when the user visits our page.
Also, what are your thought on the theme, as it is dark should we convert the whole website dark?

[2020-12-26 12:25] imabp commented on #61
@shivangi00 , I hope you are a DWOC Participant. I am happy to see you up here contributing our project.

Please connect over the DevScript Discord's server under channel techphantoms website
We are going to discuss lot of things before moving on.

[2020-12-26 12:26] imabp commented on #240
@shivangi00 , Thank you for this. Make sure, you are in the discord channel. I am happy to see you up :)
Due to ongoing exams, we are bit running slow. But never mind, wont let you down. :)

[2020-12-26 12:38] SuNiL-Chau commented on #239
Hi @Souvikns can I give it a shot?

[2020-12-26 13:00] shivangi00 commented on #240
Yes this is just the banner design, the rest of the content will follow. We can use dark theme, it looks great, just as in Netflix's website and many others. A lot many animations and designs can be incorporated with this theme. Let me know what you think.

[2020-12-26 13:02] shivangi00 commented on #240
Yes I am in the discord channel. I too have my exams, can totally understand. But I'm excited! :)

[2020-12-26 13:04] shivangi00 commented on #61
Sure! Will connect there.

[2020-12-26 14:38] imabp opened #241 "Remove spaces between equals from installation guide under .env keys"

[2020-12-26 17:43] patel-atul commented on #241
can I do that

[2020-12-26 17:53] patel-atul commented on #239
Hey @Souvikns can I design mockup for his page

[2020-12-26 17:56] Souvikns commented on #239
@SuNiL-Chau, this issue is kinda a general overview of the problem, and what we need to do, After we decide on the mockup, we can start with coding, right now this is just a discussion issue you can put up with any idea or mockup. After we decide on the mockup I will create another issue linking this one.

[2020-12-26 17:59] Souvikns commented on #239
@patel-atul for now this is an open issue anyone can give ideas and submit mockups. Feel free to post any idea you have, we are open to ideas.

[2020-12-26 18:04] Kp779 commented on #237
hello @aniketsingh98571 ,
I would like to resolve this issue. Allow me to go ahead with it.

[2020-12-26 18:08] Jaspreet099 commented on #241
Yes I'm interested in this issue , can you please assign me this.

[2020-12-26 18:12] Souvikns commented on #239
![Events Page](https://user-images.githubusercontent.com/41781438/103156870-44a0ea00-47d3-11eb-8b78-39acbc004a77.png)

---
So I was just creating a rough mockup, I was thinking we could have two tabs for upcoming events where we can show all the new events, we can write the logic for updating upcoming events and pushing them to the previous section by checking the date and time against current dat

[2020-12-26 19:09] Sloth-Panda commented on #217
hey, can i get this issue?

[2020-12-26 19:10] imabp commented on #241
You need to connect on devscript discord channel in order to contribute to the issues tagged with DWOC.

[2020-12-26 22:31] Khimit commented on #241
Hello sir,
        I would like to work on this issue. Can you assign this task to me?

[2020-12-27 04:31] yashsehgal commented on #239
Hey, I am interested in this. Shall I start working on this? I am currently working on the design. I can provide you with the mockups if you want?

[2020-12-27 06:48] Jaspreet099 commented on #241
I'm not able to find .env file

[2020-12-27 06:51] imabp commented on #241
@Jaspreet099 @Khimit @patel-atul
If you are a DWOC participant, it is open to your contributions.
Please connect over the discord server of DWOC under the channel of techphantoms

[2020-12-27 08:27] Souvikns commented on #239
@yashsehgal go ahead, post your ideas, nothing is final right now, I had posted a mockup you can take some idea from there as well.

[2020-12-27 08:57] SuNiL-Chau commented on #239
Okay cool let me try

[2020-12-27 09:45] kanishkaa24 commented on #239
Hey!
I would love to work on this. Please assign.

[2020-12-27 09:46] kanishkaa24 commented on #237
Hey!
I would love to work on this.

[2020-12-27 10:23] SuNiL-Chau commented on #239
Hey @Souvikns  and @imabp kindly have look at the figma design and provide feedback
https://www.figma.com/file/lKzoRMap6HRR5V1mYynWDe/tech-phantom-event-page?node-id=0%3A1

[2020-12-27 10:34] Souvikns commented on #239
This is cool, we can go with this design. nice @SuNiL-Chau

[2020-12-27 10:44] SuNiL-Chau commented on #239
Thank you @Souvikns  I appreciate :) but had a question about cards they look good but can be improved so would like to improve them?

[2020-12-27 10:50] Souvikns commented on #239
That could be another issue, @SuNiL-Chau what do you have in your mind for the design of the cards.

[2020-12-27 10:58] SuNiL-Chau commented on #239
The badges can be on the side of the titles of the events, the timing below as it is , Checkout button to be primary btn with brand color & recording or other btn as a secondary button.

the drop downbtn to be removed and move the description below titles with only two lines and have a truncated click able as secondary color (read more) and then show more info.

no borders & soft spread shadow

[2020-12-27 11:01] yashsehgal commented on #239
## A Rough Mockup Design
![events-page-design-wireframe@2x](https://user-images.githubusercontent.com/62352288/103169334-a6f3fc00-4860-11eb-8c90-4e56afa6399a.png)

This is my approach to UI Design for this page. Hope you'll like it.

[2020-12-27 11:12] Souvikns commented on #239
Yeah, how about we use @yashsehgal cards with @SuNiL-Chau design.

[2020-12-27 11:16] yashsehgal commented on #239
It will be a pleasure, So what I have to do now?

[2020-12-27 11:19] SuNiL-Chau commented on #239
the cards are missing the info part let me create a varient then you can choose 1 @Souvikns

[2020-12-27 11:19] Souvikns commented on #239
Well I was waiting till 8 pm before finalizing, but if no one else is working on this I can start creating the issues for the development.

[2020-12-27 11:21] Souvikns commented on #239
Ok @SuNiL-Chau then export a final png and then we can start with the coding.

[2020-12-27 11:23] SuNiL-Chau commented on #239
Okay cool

[2020-12-27 11:24] yashsehgal commented on #239
And what about my design, I can redesign it for you if you want.

[2020-12-27 11:34] Souvikns commented on #239
@SuNiL-Chau will use your event cards.

[2020-12-27 11:37] yashsehgal commented on #239
Okay Sure

[2020-12-27 12:05] SuNiL-Chau commented on #239
Hey @Souvikns & @imabp kindly have a look at the designs and provide feedback in case something needs to be updated
https://www.figma.com/file/lKzoRMap6HRR5V1mYynWDe/tech-phantom-event-page?node-id=0%3A1

[2020-12-27 12:11] Souvikns commented on #239
event-2-design do look nice, I guess giving a more uniform page margin might look better, do experiment with it. And export the last board and upload. I will start creating issues for u guys.

[2020-12-27 12:14] SuNiL-Chau commented on #239
Okay cool :+1:

[2020-12-27 12:18] imabp commented on #241
In order to have a fair contribution,
@patel-atul , you can go ahead with a PR

Please note:
This is a readme related PR(doc related work), so you can directly send PR to `master`

[2020-12-27 12:20] imabp commented on #241
@Jaspreet099 please read this
https://imabp.github.io/bestoss/

[2020-12-27 12:57] chehak123 commented on #237
hii
i would like to work on this issue

[2020-12-27 12:57] Jaspreet099 commented on #241
@imabp ok sir next time i'll take care of it.

[2020-12-27 13:01] Khimit commented on #237
hello,
     I would like to resolve this issue.

[2020-12-27 13:24] SuNiL-Chau commented on #239
![event-2-design](https://user-images.githubusercontent.com/46418190/103171778-de6ca380-4874-11eb-9f43-2dc206bd966d.png)

Hi @Souvikns & @imabp  have a look

[2020-12-27 13:28] imabp commented on #237
@aniketsingh98571 You can work on the issue up.
As we are following first come-first serve principle.

[2020-12-27 13:29] imabp commented on #237
@aniketsingh98571 ,
Make sure, you put these things too
`rel="noopener noreferrer"`
`target="_blank"`

[2020-12-27 14:12] Souvikns commented on #239
So guys we have finalized the design, thanks to @SuNiL-Chau, @yashsehgal. Now we will start coding.

[2020-12-27 14:16] yashsehgal commented on #239
How can I get started with the coding part?

[2020-12-27 14:42] Souvikns opened #246 "Events Page new design"
# Design
![103171778-de6ca380-4874-11eb-9f43-2dc206bd966d](https://user-images.githubusercontent.com/41781438/103172752-b3398280-487b-11eb-8bda-bbb7c651d6a6.png)

---
# Introduction
So we are having three sections that we need to build, First is the heading, which for now is just an `h1` tag, a filter section that will contain logic to change the view below, and lastly the events themselves. Curre

[2020-12-27 14:43] Souvikns commented on #239
I have created #246 check it out.

[2020-12-27 14:45] kanishkaa24 commented on #240
I would love to work for the implementation of the same.

[2020-12-27 14:46] kanishkaa24 commented on #246
I want to work with the new design for event cards.

[2020-12-27 15:18] kenkirito commented on #240
can i work on this issue

[2020-12-27 15:20] patel-atul commented on #246
Hey @Souvikns can I work on the code for new design.

[2020-12-27 18:36] imabp opened #248 "Webhook Test Discord"

[2020-12-27 18:47] #248 closed

[2020-12-27 18:52] imabp opened #249 "WebHook Test Discord"

[2020-12-28 09:01] Souvikns commented on #246
@kanishkaa24 go ahead I am assigning you, create a separate issue for your work and start working.

[2020-12-28 09:38] kanishkaa24 commented on #246
Assign me please.

[2020-12-28 11:41] kanishkaa24 commented on #246
![EVENT Card](https://user-images.githubusercontent.com/71253790/103212000-b5f5af80-492f-11eb-952a-c7a2bdc67a6a.png)
![EVENT Card (1)](https://user-images.githubusercontent.com/71253790/103212003-b7bf7300-492f-11eb-84ca-f2c9001fe2a7.png)
I have designed these event cards.

[2020-12-28 11:43] kanishkaa24 opened #250 "NEW DESIGN"
![EVENT Card](https://user-images.githubusercontent.com/71253790/103212105-f6edc400-492f-11eb-9757-d3ba9cc316fc.png)
![EVENT Card (1)](https://user-images.githubusercontent.com/71253790/103212108-f81ef100-492f-11eb-9e75-f93dcf3ba0b7.png)

[2020-12-28 11:43] SuNiL-Chau commented on #246
Hey @kanishkaa24 the designing part is done the development phase is started kindly look for the design above.

[2020-12-28 11:45] kanishkaa24 commented on #246
But in todo part, it's mentioned.

[2020-12-28 11:47] SuNiL-Chau commented on #246
@kanishkaa24 it means to develop you got miss understood

[2020-12-28 12:24] imabp commented on #246
I have deleted the unnecessary comments which can create confusion among the contributors.

@kanishkaa24  the design is up on the first comment by @Souvikns ,
It has been made by @SuNiL-Chau .

We are planning to code it using react.

[2020-12-28 12:26] #250 closed

[2020-12-28 12:56] atharvagadkari05 commented on #155
I'm interested in this issue, can you assign me this?

[2020-12-28 13:10] vinitshahdeo commented on #155
@imabp This will be a great add-on for lead generation. Go for it. 🚀

[2020-12-28 13:20] #249 closed

[2020-12-28 14:34] imabp opened #251 "Holder Component Event Pages"
As discussed in #246
(If you are a new contributor, you can go over #246 to see the design)
We do need a holder component for the events page.

`Make PR to development branch`

[2020-12-28 17:37] ivaibhavjindal commented on #251
Hi @imabp! I'd like to work on this. Could you brief a little more about it?

[2020-12-28 18:16] kanishkaa24 commented on #246
I misunderstood. I'm not looking for development based assignments.

[2020-12-28 18:20] Souvikns commented on #246
@kanishkaa24 this is a development based assignment. The design has been decided now we need to convert it to a react component.

[2021-01-01 00:27] Souvikns commented on #246
Ok, so I am gonna take up data loading work as right now it is occurring in the events component where the data is being rendered, but with the new design, we are gonna share that same data in two components, or rather two components will be sharing same data.

[2021-01-01 00:49] Souvikns opened #255 "Events Page"
This is a sub-issue for #246.

I will be working on the Events Page writing logic for fetching data and managing state for
- rendering events list
- updating the list according to the user's filter choice

## Problem statement
Currently, the component that is rendering the event list is loading the data and managing the local state. But with the new design, we need to share the same data in more t

[2021-01-01 04:37] imabp commented on #255
Here is the final design for holder @Souvikns :
![unknown](https://user-images.githubusercontent.com/53480076/103433568-2e52be00-4c19-11eb-9ebd-9284ffe1914f.png)

[2021-01-01 09:54] Souvikns commented on #255
@imabp Update the image in the main issue or the holder sub-issue

[2021-01-01 11:59] Souvikns commented on #255
we can make the tags into chips, the way we have done in the repo holder.

[2021-01-05 08:11] Ak-panchal commented on #217
hey, can i get this issue?

[2021-01-06 05:39] shrutijha16 commented on #217
hey ,can i work on this issue?

[2021-01-06 18:52] tharunc opened #257 "Integrate Welcome Bot"
Hello there,
         I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of DWOC. Please assign me this issue.
For reference, kindly check out: https://github.com/apps/welcome

THANK YOU

[2021-01-07 18:30] vedikaag99 commented on #237
@imabp Can I work on this ?

[2021-01-08 11:46] jatinjain001 commented on #257
I want to work on this please let me know if it is available.

[2021-01-11 19:38] Sloth-Panda opened #258 "Updating the readme with different opnsource programs like hacktoberfest and dwoc"
Let me know if this needs to be done

[2021-01-11 19:40] Sloth-Panda commented on #240
@Souvikns  would love to work on this issue please assign this to me

[2021-01-12 15:16] Amit366 commented on #237
Is this issue open??

[2021-01-14 09:59] himanshu007-creator opened #259 "Automating website"
I would like to work on this issue.I will create a script that will enable opening website from CLI.
Please add DWOC label to it and assign me this issue.

[2021-01-14 11:59] Souvikns commented on #259
I don't understand clearly, as of now `npm start` command starts the development server and loads the website in a browser automatically.

[2021-01-14 12:09] himanshu007-creator commented on #259
No sor, my script won't open the loclhost.
It will open your website that's in the description.

[2021-01-14 12:22] Souvikns commented on #259
Do you mean the hosted site? Even so, how will it help.

[2021-01-14 14:50] imabp commented on #259
@himanshu007-creator

I got it, you are saying, you will make a script to open the hosted site, as mentioned in package.json.
I could sense this. I dont think it's required as of now.
Feel free to reopen your issue, if you think, you want to say something else.

[2021-01-14 14:50] #259 closed

[2021-01-15 04:33] samir-0711 opened #260 "Add Contributors Table in README.md"
Like this
![image](https://user-images.githubusercontent.com/68433936/104681635-cc19b300-5718-11eb-94c6-84c5bd5a2f27.png)

[2021-01-15 04:33] samir-0711 commented on #260
I would like to work on this.

[2021-01-15 06:57] Souvikns commented on #260
This would do but, It would be a pain to update the readme every time, I can assign you this issue if you could create a GitHub action that checks the PR and sees if a new person has made the pr then automatically updates the readme.

[2021-01-15 09:00] samir-0711 commented on #260
It will be automated.

[2021-01-15 12:52] #260 closed

[2021-01-15 14:02] samir-0711 commented on #260
Please add any one label "level-1" or "level-2" or "level-3" or "level-4" or "level-5" in this issue.

[2021-01-15 14:42] Souvikns commented on #258
@imabp

[2021-01-15 14:43] #258 closed

[2021-01-15 14:45] imabp commented on #258
No, we dont need it.
All the details of the project are through communication channel #tech-phantoms on discord of DWOC.

We are more looking for a dedicated contributor. We do conduct google meets and all, to keep the participants in flow.

[2021-01-24 17:25] himanshu007-creator commented on #239
SIR, we need to focus on coders.I would suggest to use dark themed background as mostly coders code at night. But using green color for text is TOO MUCH predictable!
For that i suggest, we will use orange color.
and for font, we will use OSWALD font [ light 300 varient]

so i finally propose these:-
background color:- black
text color [for headings]:- #ff7b00
font [for heading]:-Source Sans Pro
te

[2021-01-28 08:08] ashuvssut commented on #158
@imabp

which one is required [this one](https://github.com/Tech-Phantoms/Tech_Phantoms_website/blob/wireframes/wireframes/img-export/event-2-design.png) or [this one](https://github.com/Tech-Phantoms/Tech_Phantoms_website/blob/wireframes/wireframes/img-export/events-page-design-wireframe%402x.png)

Can you tell what does this **filters** button does
![image](https://user-images.githubusercontent.

[2021-01-30 12:07] Souvikns opened #262 "[Feature]Login and signup screens"

[2021-02-20 08:27] PinRathod opened #263 "Add DWoC as open source Event"
This project is part of DWoC open source event.It should be mention in README file.
Can I work on this?

[2021-07-10 18:40] #61 closed

[2021-07-10 18:40] #79 closed

[2021-07-10 18:40] #108 closed

[2021-07-10 18:40] #150 closed

[2021-07-10 18:40] #155 closed

[2021-07-10 18:40] #158 closed

[2021-07-10 18:40] #164 closed

[2021-07-10 18:40] #172 closed

[2021-07-10 18:40] #202 closed

[2021-07-10 18:40] #204 closed

[2021-07-10 18:40] #217 closed

[2021-07-10 18:40] #225 closed

[2021-07-10 18:40] #237 closed

[2021-07-10 18:40] #239 closed

[2021-07-10 18:40] #240 closed

[2021-07-10 18:40] #241 closed

[2021-07-10 18:40] #246 closed

[2021-07-10 18:40] #251 closed

[2021-07-10 18:40] #255 closed

[2021-07-10 18:40] #262 closed

[2021-07-10 18:40] #263 closed

[2021-07-10 18:54] imabp opened #265 "Creating the Layout of the 3:6:3 page including padding and margins"
On our internal team meetings, we have shared the privatized link of Figma Design for our Landing Page. Based on the following, we have to design the page.

Please message on discord, if you need any help :)

[2021-07-10 18:55] imabp opened #266 "Creating the Announcement Section fully-featured, using webhooks"
On our internal team meetings, we have shared the privatized link of Figma Design for our Landing Page. Based on the following, we have to design the page.

Please message on discord, if you need any help :)

[2021-07-10 18:56] imabp opened #267 "Creating the rest of the Left Side Components"
On our internal team meetings, we have shared the privatized link of Figma Design for our Landing Page. Based on the following, we have to design the page.

Please message on discord, if you need any help :)

[2021-07-10 18:58] imabp opened #268 "Creating the right side components ( Seasonal Hackathon, Featured Projects and Hashtags)"
On our internal team meetings, we have shared the privatized link of Figma Design for our Landing Page. Based on the following, we have to design the page.

Please message on discord, if you need any help :)

[2021-07-10 18:58] imabp opened #269 "Creating the central component ( Use the same content as shown in Figma)"
On our internal team meetings, we have shared the privatized link of Figma Design for our Landing Page. Based on the following, we have to design the page.

Please message on discord, if you need any help :)

[2021-07-10 19:00] imabp opened #270 "Hello ! We are Back with a new Design and a Strong Team"
On our internal team meetings, we have shared the privatized link of Figma Design for our Landing Page. Based on the following, the following sub-issues have been created.

- [x] #265
- [x] #266
- [x] #267
- [x] #268
- [x] #269

Please message on discord, if you need any help :)

[2021-07-10 19:03] imabp commented on #257
We are closing the following issue. As we already have it on our admin panel on discord :)

[2021-07-10 19:03] #257 closed

[2021-07-12 17:31] #269 closed

[2021-07-13 04:48] #268 closed

[2021-07-13 04:49] #265 closed

[2021-10-04 15:17] akshitarora921 commented on #267
Hi, Can I work on this?

[2021-10-06 17:17] #267 closed

[2021-10-06 17:17] #270 closed

[2021-10-09 10:29] imabp opened #286 "Mobile Responsive using CSS"
Right now, we do not have responsiveness on our website. It will be great feature, if we can make it responsive.

[2021-10-18 17:27] Panquesito7 opened #291 "[FEATURE] Add contributing guidelines"
**Is your feature request related to a problem? Please describe.**

I think contributing guidelines are needed. Plus, in the readme there's a broken link to the contributing guidelines.
I can help in setting the contributing guidelines. If you need any help, please let me know. 🙂

**Describe the solution you'd like**

Add contributing guidelines to the repository.

**Describe alternatives you've c

[2021-10-19 18:14] Souvikns opened #293 "Netlify badge in readme is broken"
Since I deleted the netlify project, now the netlify badge is broken, I think we should remove it or update it.

[2021-10-21 00:01] S0C7 commented on #293
Hi @Souvikns , I've created a Pull Request for this issue: https://github.com/Tech-Phantoms/Tech_Phantoms_website/pull/294.

[2021-10-27 05:10] Souvikns opened #297 "Html preview is incomplete or incorrect."
The `Html Preview Action` is either incomplete or it is incorrect. I don't see any specific action being used only checking out the repo does not let us host the file.

https://github.com/Tech-Phantoms/Tech_Phantoms_website/blob/48029f3e8e361b623268ff72863622632b686a44/.github/workflows/htmlpreview.yml#L1-L11

[2021-10-27 17:46] Panquesito7 opened #299 "[FEATURE] Add a license to the repository"
**Is your feature request related to a problem? Please describe.**

A license is urgently needed so people can know what they can and not do with the code.

**Describe the solution you'd like**

Add the [MIT License](https://mit-license.org).

**Describe alternatives you've considered**

None.

**Additional context**

This *might* require approval from all those who contributed.

[2021-10-27 17:55] #297 closed, assigned to Panquesito7, imabp

[2021-10-28 20:29] #299 closed, assigned to Panquesito7

[2021-10-29 16:00] #293 closed, assigned to nobody

[2021-10-29 16:13] Panquesito7 opened #302 "[FEATURE] Add a pull request template"
### Detailed description

Add a pull request template to the repository. This way, we can know more information about the pull request: what does it do, its goal, etc..

### Context

This is useful for the maintainers to fully know about the PR, what does it do, its goal, etc..

### Possible implementation

Add a pull request template to the repository.

### Additional information

If you want, I

[2021-10-31 15:44] Panquesito7 opened #307 "[FEATURE] Add a Privacy Policy page"
### Detailed description

We should add a page in our website with our privacy policy. We can take the content from here https://github.com/Tech-Phantoms/community/blob/main/privacy-policy.md.to

### Context

Having a privacy policy is very important. If our community keeps growing, we will need it.

### Possible implementation

Add a privacy policy page to our website.

### Additional information

[2021-11-09 16:24] Souvikns commented on #286
@imabp is this issue solved

[2021-11-09 16:45] imabp commented on #286
Yes, closing the issue

[2021-11-09 16:45] #286 closed

[2021-11-10 15:33] adityagi02 commented on #291
I'll do it. You can assign it to me.

[2021-11-10 15:35] adityagi02 commented on #307
Will do it. Assign it to me.😃

[2021-11-10 19:27] Panquesito7 commented on #291
Assigned.

[2021-11-10 19:28] Panquesito7 commented on #307
Assigned. Thanks. 🙂

[2021-12-08 14:18] imabp opened #317 "[DESIGN] [FRONTEND] Migrating to NextJS"
### Detailed description

We are shifting to NextJS, and we would love to hear from our community, regarding the website designs and things that they want to see on our website.

### Context

This change is important, as it lays down a point of contact for new website design.

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree

[2021-12-10 10:13] Souvikns commented on #317
@imabp did you come up with the design yet ?

I have one suggestion though, it would be awesome to have only the landing page here and then have links to other parts of the site. Now, these other websites will be standalone websites that will have different repos.

[2021-12-10 18:45] imabp opened #318 "Create NextJS Starter Code [Typescript][TailwindCSS]"
### What would you like to share?

As we are migrating to NextJS, it will be great idea, to have a NextJS, TailwindCSS Typescript starter code to canary branch.
Do not delete any sensitive files like, `CNAME`.

### Additional information

_No response_

### Would you like to work on this issue?

- [ ] Yes, I want to work on this issue!

### Code of Conduct

- [X] I agree to follow this project's C

[2021-12-11 19:27] iipranavii opened #321 "[FEATURE] Create NavBar for Landing Page"
### Detailed description

Create a NavBar with:
- Transparent,
- buttons on Navbar that highlight when we hover.

### Context

For the Creation of New website, The Navbar should be minimal and clean.

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-12-12 05:09] aniketk13 commented on #318
This could be closed now I guess.

[2021-12-12 05:25] aniketk13 opened #322 "Contributing Guidelines page not working."
### What would you like to share?

On Clicking the Contributing Guidelines link in Readme, it lead me to a "Page not found"

### Additional information

Probably the page has not been created.

### Would you like to work on this issue?

- [X] Yes, I want to work on this issue!

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-12-12 05:29] aniketk13 opened #323 "Project Structure Documentation page not working"
### What would you like to share?

The Project Structure Documentation link in readme leads to a "Page not found". It should lead to a page with proper context which would help especially the beginners to understand and contribute to the project.

### Additional information

_No response_

### Would you like to work on this issue?

- [ ] Yes, I want to work on this issue!

### Code of Conduct

- [

[2021-12-12 05:48] #318 closed

[2021-12-12 06:14] Panquesito7 commented on #322
Nice catch 👍 yeah, we have to create a contributing guidelines file. There's an issue for that: #291.

[2021-12-14 12:26] aniketk13 commented on #322
Hey, I have created it. Could you please verify it?

[2021-12-14 19:56] #322 closed, assigned to nobody

[2021-12-14 20:03] aniketk13 commented on #291
Hey @Panquesito7, you can close this issue too!

[2021-12-14 20:50] #291 closed, assigned to adityagi02

[2021-12-18 06:19] Souvikns opened #326 "I think we should now clean the readme."
As previously we were using airtable here in this repository we need to set up the env variables but now as we are not using it we should remove it from the readme.

[2021-12-18 06:22] imabp commented on #326
@aniketk13 would you like to work on this.

[2021-12-18 08:19] aniketk13 commented on #326
Yeah sure, you can assign it to me

[2021-12-19 09:36] aniketk13 commented on #326
Hey @imabp , seems like you already removed the env variables setup. Is there anything else I shall change in Readme?

[2021-12-31 14:31] Souvikns commented on #323
Yeah, the markdown file is removed now so it is showing 404. I think we have two options here
- we remove the link and update the readme and act as if was never there
- we create a new project-structure file and talk about the new project structure since the project has moved to nextjs.

[2021-12-31 16:01] Souvikns commented on #321
Navbar is created right?

[2022-01-25 11:26] radzhiv25 commented on #307
is the issue resolved if not then i am willing to do it

[2022-01-25 11:27] radzhiv25 commented on #321
is the issue still open to be completed

[2022-02-09 19:07] KendallDoesCoding opened #331 "[OTHER] Default branch"
### What would you like to share?

Usually, either master or main is the default branch, here it is set as canary, even though master is the second branch. I recommend yall make master the default branch and canary to sub-branch, or rename canary to main.

### Additional information

_No response_

### Would you like to work on this issue?

- [ ] Yes, I want to work on this issue!

### Code of Con

[2022-02-22 12:07] whoiskekeanyway commented on #302
I fixed this issue here. #329, I don't know how to link, but I hope this is it

[2022-08-08 06:50] abhishinde24 commented on #321
still open?

[2022-08-08 06:52] abhishinde24 commented on #317
still open?

[2022-08-08 13:09] Souvikns commented on #317
@imabp started it but I think he does not have time for this anymore and even I have been out of touch with techphantoms for some time. I think this issue was for discussing design ideas, you are welcome to pitch any idea you have.

[2022-10-23 13:01] Souvikns commented on #321
<img width="1091" alt="Screenshot 2022-10-23 at 6 30 46 PM" src="https://user-images.githubusercontent.com/41781438/197393600-bf0702b1-e655-49a3-b6b9-f13d99e5fc6d.png">

This is how it looks right now, I think it is alright. open for suggestions though

[2022-10-23 13:11] Souvikns opened #333 "[BUG] canary branch is not being used for deployement"
### Description

I don't think canary branch is being used for deployment, is the meant to be that way or it is a bug? @imabp

### Expected behavior

should get deployed to vercel

### Actual behavior

not getting deplyed to vercel

### Possible fix

_No response_

### Steps to reproduce

Vercel has still the old deployment from a year ago

### Context

I am not able to the production of the websi

[2022-10-23 13:13] Souvikns opened #334 "Blog Component design"
### Detailed description

In the last PR https://github.com/Tech-Phantoms/Tech-Phantoms/pull/332, I added support blogs to our website. I used `MDX` and now we need to style the markdown components to look good with our theme.

### Context

<img width="875" alt="Screenshot 2022-10-23 at 6 41 44 PM" src="https://user-images.githubusercontent.com/41781438/197394224-150cde9c-194b-4da4-ac6c-e6c8f1b35f

[2022-10-23 14:58] imabp commented on #333
@Souvikns canary is for `development` only
Every commit on canary will be shown in `https://tech-phantoms-canary.vercel.app/` [link](https://tech-phantoms-canary.vercel.app/)

master is for `production`
We should create a release action to create Release PRs from `canary` to `master`

[2022-10-23 15:06] Souvikns commented on #333
We don't have to create a release option, we just need to push to master branch for deployment, vercel is already setup for auto push deployment

[2022-10-23 15:16] imabp commented on #333
Should we go ahead for production deployment now?

[2022-10-23 15:17] imabp commented on #333
Vercel is configured to do prod deployment from master only.